<a href="https://www.kaggle.com/code/emreavcihalvetica/second-assignment?scriptVersionId=194587841" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import seaborn as sns
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = sns.load_dataset("titanic")
print(df)

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
0           0       3    male  22.00      1      0    7.2500        S   Third
1           1       1  female  38.00      1      0   71.2833        C   First
2           1       3  female  26.00      0      0    7.9250        S   Third
3           1       1  female  35.00      1      0   53.1000        S   First
4           0       3    male  35.00      0      0    8.0500        S   Third
5           0       3    male    NaN      0      0    8.4583        Q   Third
6           0       1    male  54.00      0      0   51.8625        S   First
7           0       3    male   2.00      3      1   21.0750        S   Third
8           1       3  female  27.00      0      2   11.1333        S   Third
9           1       2  female  14.00      1      0   30.0708        C  Second
10          1       3  female   4.00      1      1   16.7000        S   Third
11          1       1  female  58.00      0      0   26.5500        S   First
12          0       3    male  20.00      0      0    8.0500        S   Third
13          0       3    male  39.00      1      5   31.2750        S   Third
14          0       3  female  14.00      0      0    7.8542        S   Third
15          1       2  female  55.00      0      0   16.0000        S  Second
16          0       3    male   2.00      4      1   29.1250        Q   Third
17          1       2    male    NaN      0      0   13.0000        S  Second
18          0       3  female  31.00      1      0   18.0000        S   Third
19          1       3  female    NaN      0      0    7.2250        C   Third
20          0       2    male  35.00      0      0   26.0000        S  Second
21          1       2    male  34.00      0      0   13.0000        S  Second
22          1       3  female  15.00      0      0    8.0292        Q   Third
23          1       1    male  28.00      0      0   35.5000        S   First
24          0       3  female   8.00      3      1   21.0750        S   Third
25          1       3  female  38.00      1      5   31.3875        S   Third
26          0       3    male    NaN      0      0    7.2250        C   Third
27          0       1    male  19.00      3      2  263.0000        S   First
28          1       3  female    NaN      0      0    7.8792        Q   Third
29          0       3    male    NaN      0      0    7.8958        S   Third
30          0       1    male  40.00      0      0   27.7208        C   First
31          1       1  female    NaN      1      0  146.5208        C   First
32          1       3  female    NaN      0      0    7.7500        Q   Third
33          0       2    male  66.00      0      0   10.5000        S  Second
34          0       1    male  28.00      1      0   82.1708        C   First
35          0       1    male  42.00      1      0   52.0000        S   First
36          1       3    male    NaN      0      0    7.2292        C   Third
37          0       3    male  21.00      0      0    8.0500        S   Third
38          0       3  female  18.00      2      0   18.0000        S   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
40          0       3  female  40.00      1      0    9.4750        S   Third
41          0       2  female  27.00      1      0   21.0000        S  Second
42          0       3    male    NaN      0      0    7.8958        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
44          1       3  female  19.00      0      0    7.8792        Q   Third
45          0       3    male    NaN      0      0    8.0500        S   Third
46          0       3    male    NaN      1      0   15.5000        Q   Third
47          1       3  female    NaN      0      0    7.7500        Q   Third
48          0       3    male    NaN      2      0   21.6792        C   Third
49          0       3  female  18.00      1      0   17.8000        S   Third
50          0       3    male   7.00      4      1   39.6875        S   Third
51          0       3    male  21.00      0      0    7.8000        S   Third
52          1       1  female  49.00      1      0   76.7292        C   First
53          1       2  female  29.00      1      0   26.0000        S  Second
54          0       1    male  65.00      0      1   61.9792        C   First
55          1       1    male    NaN      0      0   35.5000        S   First
56          1       2  female  21.00      0      0   10.5000        S  Second
57          0       3    male  28.50      0      0    7.2292        C   Third
58          1       2  female   5.00      1      2   27.7500        S  Second
59          0       3    male  11.00      5      2   46.9000        S   Third
60          0       3    male  22.00      0      0    7.2292        C   Third
61          1       1  female  38.00      0      0   80.0000      NaN   First
62          0       1    male  45.00      1      0   83.4750        S   First
63          0       3    male   4.00      3      2   27.9000        S   Third
64          0       1    male    NaN      0      0   27.7208        C   First
65          1       3    male    NaN      1      1   15.2458        C   Third
66          1       2  female  29.00      0      0   10.5000        S  Second
67          0       3    male  19.00      0      0    8.1583        S   Third
68          1       3  female  17.00      4      2    7.9250        S   Third
69          0       3    male  26.00      2      0    8.6625        S   Third
70          0       2    male  32.00      0      0   10.5000        S  Second
71          0       3  female  16.00      5      2   46.9000        S   Third
72          0       2    male  21.00      0      0   73.5000        S  Second
73          0       3    male  26.00      1      0   14.4542        C   Third
74          1       3    male  32.00      0      0   56.4958        S   Third
75          0       3    male  25.00      0      0    7.6500        S   Third
76          0       3    male    NaN      0      0    7.8958        S   Third
77          0       3    male    NaN      0      0    8.0500        S   Third
78          1       2    male   0.83      0      2   29.0000        S  Second
79          1       3  female  30.00      0      0   12.4750        S   Third
80          0       3    male  22.00      0      0    9.0000        S   Third
81          1       3    male  29.00      0      0    9.5000        S   Third
82          1       3  female    NaN      0      0    7.7875        Q   Third
83          0       1    male  28.00      0      0   47.1000        S   First
84          1       2  female  17.00      0      0   10.5000        S  Second
85          1       3  female  33.00      3      0   15.8500        S   Third
86          0       3    male  16.00      1      3   34.3750        S   Third
87          0       3    male    NaN      0      0    8.0500        S   Third
88          1       1  female  23.00      3      2  263.0000        S   First
89          0       3    male  24.00      0      0    8.0500        S   Third
90          0       3    male  29.00      0      0    8.0500        S   Third
91          0       3    male  20.00      0      0    7.8542        S   Third
92          0       1    male  46.00      1      0   61.1750        S   First
93          0       3    male  26.00      1      2   20.5750        S   Third
94          0       3    male  59.00      0      0    7.2500        S   Third
95          0       3    male    NaN      0      0    8.0500        S   Third
96          0       1    male  71.00      0      0   34.6542        C   First
97          1       1    male  23.00      0      1   63.3583        C   First
98          1       2  female  34.00      0      1   23.0000        S  Second
99          0       2    male  34.00      1      0   26.0000        S  Second
100         0       3  female  28.00      0      0    7.8958        S   Third
101         0       3    male    NaN      0      0    7.8958        S   Third
102         0       1    male  21.00      0      1   77.2875        S   First
103         0       3    male  33.00      0      0    8.6542        S   Third
104         0       3    male  37.00      2      0    7.9250        S   Third
105         0       3    male  28.00      0      0    7.8958        S   Third
106         1       3  female  21.00      0      0    7.6500        S   Third
107         1       3    male    NaN      0      0    7.7750        S   Third
108         0       3    male  38.00      0      0    7.8958        S   Third
109         1       3  female    NaN      1      0   24.1500        Q   Third
110         0       1    male  47.00      0      0   52.0000        S   First
111         0       3  female  14.50      1      0   14.4542        C   Third
112         0       3    male  22.00      0      0    8.0500        S   Third
113         0       3  female  20.00      1      0    9.8250        S   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
115         0       3    male  21.00      0      0    7.9250        S   Third
116         0       3    male  70.50      0      0    7.7500        Q   Third
117         0       2    male  29.00      1      0   21.0000        S  Second
118         0       1    male  24.00      0      1  247.5208        C   First
119         0       3  female   2.00      4      2   31.2750        S   Third
120         0       2    male  21.00      2      0   73.5000        S  Second
121         0       3    male    NaN      0      0    8.0500        S   Third
122         0       2    male  32.50      1      0   30.0708        C  Second
123         1       2  female  32.50      0      0   13.0000        S  Second
124         0       1    male  54.00      0      1   77.2875        S   First
125         1       3    male  12.00      1      0   11.2417        C   Third
126         0       3    male    NaN      0      0    7.7500        Q   Third
127         1       3    male  24.00      0      0    7.1417        S   Third
128         1       3  female    NaN      1      1   22.3583        C   Third
129         0       3    male  45.00      0      0    6.9750        S   Third
130         0       3    male  33.00      0      0    7.8958        C   Third
131         0       3    male  20.00      0      0    7.0500        S   Third
132         0       3  female  47.00      1      0   14.5000        S   Third
133         1       2  female  29.00      1      0   26.0000        S  Second
134         0       2    male  25.00      0      0   13.0000        S  Second
135         0       2    male  23.00      0      0   15.0458        C  Second
136         1       1  female  19.00      0      2   26.2833        S   First
137         0       1    male  37.00      1      0   53.1000        S   First
138         0       3    male  16.00      0      0    9.2167        S   Third
139         0       1    male  24.00      0      0   79.2000        C   First
140         0       3  female    NaN      0      2   15.2458        C   Third
141         1       3  female  22.00      0      0    7.7500        S   Third
142         1       3  female  24.00      1      0   15.8500        S   Third
143         0       3    male  19.00      0      0    6.7500        Q   Third
144         0       2    male  18.00      0      0   11.5000        S  Second
145         0       2    male  19.00      1      1   36.7500        S  Second
146         1       3    male  27.00      0      0    7.7958        S   Third
147         0       3  female   9.00      2      2   34.3750        S   Third
148         0       2    male  36.50      0      2   26.0000        S  Second
149         0       2    male  42.00      0      0   13.0000        S  Second
150         0       2    male  51.00      0      0   12.5250        S  Second
151         1       1  female  22.00      1      0   66.6000        S   First
152         0       3    male  55.50      0      0    8.0500        S   Third
153         0       3    male  40.50      0      2   14.5000        S   Third
154         0       3    male    NaN      0      0    7.3125        S   Third
155         0       1    male  51.00      0      1   61.3792        C   First
156         1       3  female  16.00      0      0    7.7333        Q   Third
157         0       3    male  30.00      0      0    8.0500        S   Third
158         0       3    male    NaN      0      0    8.6625        S   Third
159         0       3    male    NaN      8      2   69.5500        S   Third
160         0       3    male  44.00      0      1   16.1000        S   Third
161         1       2  female  40.00      0      0   15.7500        S  Second
162         0       3    male  26.00      0      0    7.7750        S   Third
163         0       3    male  17.00      0      0    8.6625        S   Third
164         0       3    male   1.00      4      1   39.6875        S   Third
165         1       3    male   9.00      0      2   20.5250        S   Third
166         1       1  female    NaN      0      1   55.0000        S   First
167         0       3  female  45.00      1      4   27.9000        S   Third
168         0       1    male    NaN      0      0   25.9250        S   First
169         0       3    male  28.00      0      0   56.4958        S   Third
170         0       1    male  61.00      0      0   33.5000        S   First
171         0       3    male   4.00      4      1   29.1250        Q   Third
172         1       3  female   1.00      1      1   11.1333        S   Third
173         0       3    male  21.00      0      0    7.9250        S   Third
174         0       1    male  56.00      0      0   30.6958        C   First
175         0       3    male  18.00      1      1    7.8542        S   Third
176         0       3    male    NaN      3      1   25.4667        S   Third
177         0       1  female  50.00      0      0   28.7125        C   First
178         0       2    male  30.00      0      0   13.0000        S  Second
179         0       3    male  36.00      0      0    0.0000        S   Third
180         0       3  female    NaN      8      2   69.5500        S   Third
181         0       2    male    NaN      0      0   15.0500        C  Second
182         0       3    male   9.00      4      2   31.3875        S   Third
183         1       2    male   1.00      2      1   39.0000        S  Second
184         1       3  female   4.00      0      2   22.0250        S   Third
185         0       1    male    NaN      0      0   50.0000        S   First
186         1       3  female    NaN      1      0   15.5000        Q   Third
187         1       1    male  45.00      0      0   26.5500        S   First
188         0       3    male  40.00      1      1   15.5000        Q   Third
189         0       3    male  36.00      0      0    7.8958        S   Third
190         1       2  female  32.00      0      0   13.0000        S  Second
191         0       2    male  19.00      0      0   13.0000        S  Second
192         1       3  female  19.00      1      0    7.8542        S   Third
193         1       2    male   3.00      1      1   26.0000        S  Second
194         1       1  female  44.00      0      0   27.7208        C   First
195         1       1  female  58.00      0      0  146.5208        C   First
196         0       3    male    NaN      0      0    7.7500        Q   Third
197         0       3    male  42.00      0      1    8.4042        S   Third
198         1       3  female    NaN      0      0    7.7500        Q   Third
199         0       2  female  24.00      0      0   13.0000        S  Second
200         0       3    male  28.00      0      0    9.5000        S   Third
201         0       3    male    NaN      8      2   69.5500        S   Third
202         0       3    male  34.00      0      0    6.4958        S   Third
203         0       3    male  45.50      0      0    7.2250        C   Third
204         1       3    male  18.00      0      0    8.0500        S   Third
205         0       3  female   2.00      0      1   10.4625        S   Third
206         0       3    male  32.00      1      0   15.8500        S   Third
207         1       3    male  26.00      0      0   18.7875        C   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
209         1       1    male  40.00      0      0   31.0000        C   First
210         0       3    male  24.00      0      0    7.0500        S   Third
211         1       2  female  35.00      0      0   21.0000        S  Second
212         0       3    male  22.00      0      0    7.2500        S   Third
213         0       2    male  30.00      0      0   13.0000        S  Second
214         0       3    male    NaN      1      0    7.7500        Q   Third
215         1       1  female  31.00      1      0  113.2750        C   First
216         1       3  female  27.00      0      0    7.9250        S   Third
217         0       2    male  42.00      1      0   27.0000        S  Second
218         1       1  female  32.00      0      0   76.2917        C   First
219         0       2    male  30.00      0      0   10.5000        S  Second
220         1       3    male  16.00      0      0    8.0500        S   Third
221         0       2    male  27.00      0      0   13.0000        S  Second
222         0       3    male  51.00      0      0    8.0500        S   Third
223         0       3    male    NaN      0      0    7.8958        S   Third
224         1       1    male  38.00      1      0   90.0000        S   First
225         0       3    male  22.00      0      0    9.3500        S   Third
226         1       2    male  19.00      0      0   10.5000        S  Second
227         0       3    male  20.50      0      0    7.2500        S   Third
228         0       2    male  18.00      0      0   13.0000        S  Second
229         0       3  female    NaN      3      1   25.4667        S   Third
230         1       1  female  35.00      1      0   83.4750        S   First
231         0       3    male  29.00      0      0    7.7750        S   Third
232         0       2    male  59.00      0      0   13.5000        S  Second
233         1       3  female   5.00      4      2   31.3875        S   Third
234         0       2    male  24.00      0      0   10.5000        S  Second
235         0       3  female    NaN      0      0    7.5500        S   Third
236         0       2    male  44.00      1      0   26.0000        S  Second
237         1       2  female   8.00      0      2   26.2500        S  Second
238         0       2    male  19.00      0      0   10.5000        S  Second
239         0       2    male  33.00      0      0   12.2750        S  Second
240         0       3  female    NaN      1      0   14.4542        C   Third
241         1       3  female    NaN      1      0   15.5000        Q   Third
242         0       2    male  29.00      0      0   10.5000        S  Second
243         0       3    male  22.00      0      0    7.1250        S   Third
244         0       3    male  30.00      0      0    7.2250        C   Third
245         0       1    male  44.00      2      0   90.0000        Q   First
246         0       3  female  25.00      0      0    7.7750        S   Third
247         1       2  female  24.00      0      2   14.5000        S  Second
248         1       1    male  37.00      1      1   52.5542        S   First
249         0       2    male  54.00      1      0   26.0000        S  Second
250         0       3    male    NaN      0      0    7.2500        S   Third
251         0       3  female  29.00      1      1   10.4625        S   Third
252         0       1    male  62.00      0      0   26.5500        S   First
253         0       3    male  30.00      1      0   16.1000        S   Third
254         0       3  female  41.00      0      2   20.2125        S   Third

In [3]:
number_of_female_male = df["sex"].value_counts()
print(number_of_female_male)

sex
male      577
female    314
Name: count, dtype: int64

In [4]:
unique_values = [{"column_name": column_name, "num_unique_value": len(df[column_name].unique())} for column_name in df.columns]
print(unique_values)

[{'column_name': 'survived', 'num_unique_value': 2}, {'column_name': 'pclass', 'num_unique_value': 3}, {'column_name': 'sex', 'num_unique_value': 2}, {'column_name': 'age', 'num_unique_value': 89}, {'column_name': 'sibsp', 'num_unique_value': 7}, {'column_name': 'parch', 'num_unique_value': 7}, {'column_name': 'fare', 'num_unique_value': 248}, {'column_name': 'embarked', 'num_unique_value': 4}, {'column_name': 'class', 'num_unique_value': 3}, {'column_name': 'who', 'num_unique_value': 3}, {'column_name': 'adult_male', 'num_unique_value': 2}, {'column_name': 'deck', 'num_unique_value': 8}, {'column_name': 'embark_town', 'num_unique_value': 4}, {'column_name': 'alive', 'num_unique_value': 2}, {'column_name': 'alone', 'num_unique_value': 2}]

In [5]:
number_of_unique_values_pclass = df["pclass"].value_counts()
print(number_of_unique_values_pclass)

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [6]:
number_of_unique_values_pclass = df["pclass"].nunique()
number_of_unique_values_parch = df["parch"].nunique()
print(f"pclass number of the uniques: {number_of_unique_values_pclass}, parch number of the uniques: {number_of_unique_values_parch}")

pclass number of the uniques: 3, parch number of the uniques: 7

In [7]:
print(df["embarked"].dtypes)
df.drop(columns = ["embarked"])
df["embarked"] = df["embarked"].astype("category")
print(df["embarked"].dtypes)

object
category

In [8]:
print(df[df["embarked"] == "C"])

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
1           1       1  female  38.00      1      0   71.2833        C   First
9           1       2  female  14.00      1      0   30.0708        C  Second
19          1       3  female    NaN      0      0    7.2250        C   Third
26          0       3    male    NaN      0      0    7.2250        C   Third
30          0       1    male  40.00      0      0   27.7208        C   First
31          1       1  female    NaN      1      0  146.5208        C   First
34          0       1    male  28.00      1      0   82.1708        C   First
36          1       3    male    NaN      0      0    7.2292        C   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
42          0       3    male    NaN      0      0    7.8958        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
48          0       3    male    NaN      2      0   21.6792        C   Third
52          1       1  female  49.00      1      0   76.7292        C   First
54          0       1    male  65.00      0      1   61.9792        C   First
57          0       3    male  28.50      0      0    7.2292        C   Third
60          0       3    male  22.00      0      0    7.2292        C   Third
64          0       1    male    NaN      0      0   27.7208        C   First
65          1       3    male    NaN      1      1   15.2458        C   Third
73          0       3    male  26.00      1      0   14.4542        C   Third
96          0       1    male  71.00      0      0   34.6542        C   First
97          1       1    male  23.00      0      1   63.3583        C   First
111         0       3  female  14.50      1      0   14.4542        C   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
118         0       1    male  24.00      0      1  247.5208        C   First
122         0       2    male  32.50      1      0   30.0708        C  Second
125         1       3    male  12.00      1      0   11.2417        C   Third
128         1       3  female    NaN      1      1   22.3583        C   Third
130         0       3    male  33.00      0      0    7.8958        C   Third
135         0       2    male  23.00      0      0   15.0458        C  Second
139         0       1    male  24.00      0      0   79.2000        C   First
140         0       3  female    NaN      0      2   15.2458        C   Third
155         0       1    male  51.00      0      1   61.3792        C   First
174         0       1    male  56.00      0      0   30.6958        C   First
177         0       1  female  50.00      0      0   28.7125        C   First
181         0       2    male    NaN      0      0   15.0500        C  Second
194         1       1  female  44.00      0      0   27.7208        C   First
195         1       1  female  58.00      0      0  146.5208        C   First
203         0       3    male  45.50      0      0    7.2250        C   Third
207         1       3    male  26.00      0      0   18.7875        C   Third
209         1       1    male  40.00      0      0   31.0000        C   First
215         1       1  female  31.00      1      0  113.2750        C   First
218         1       1  female  32.00      0      0   76.2917        C   First
240         0       3  female    NaN      1      0   14.4542        C   Third
244         0       3    male  30.00      0      0    7.2250        C   Third
255         1       3  female  29.00      0      2   15.2458        C   Third
256         1       1  female    NaN      0      0   79.2000        C   First
258         1       1  female  35.00      0      0  512.3292        C   First
273         0       1    male  37.00      0      1   29.7000        C   First
285         0       3    male  33.00      0      0    8.6625        C   Third
291         1       1  female  19.00      1      0   91.0792        C   First
292         0       2    male  36.00      0      0   12.8750        C  Second
295         0       1    male    NaN      0      0   27.7208        C   First
296         0       3    male  23.50      0      0    7.2292        C   Third
299         1       1  female  50.00      0      1  247.5208        C   First
306         1       1  female    NaN      0      0  110.8833        C   First
307         1       1  female  17.00      1      0  108.9000        C   First
308         0       2    male  30.00      1      0   24.0000        C  Second
309         1       1  female  30.00      0      0   56.9292        C   First
310         1       1  female  24.00      0      0   83.1583        C   First
311         1       1  female  18.00      2      2  262.3750        C   First
319         1       1  female  40.00      1      1  134.5000        C   First
325         1       1  female  36.00      0      0  135.6333        C   First
329         1       1  female  16.00      0      1   57.9792        C   First
337         1       1  female  41.00      0      0  134.5000        C   First
352         0       3    male  15.00      1      1    7.2292        C   Third
354         0       3    male    NaN      0      0    7.2250        C   Third
361         0       2    male  29.00      1      0   27.7208        C  Second
362         0       3  female  45.00      0      1   14.4542        C   Third
366         1       1  female  60.00      1      0   75.2500        C   First
367         1       3  female    NaN      0      0    7.2292        C   Third
369         1       1  female  24.00      0      0   69.3000        C   First
370         1       1    male  25.00      1      0   55.4417        C   First
373         0       1    male  22.00      0      0  135.6333        C   First
375         1       1  female    NaN      1      0   82.1708        C   First
377         0       1    male  27.00      0      2  211.5000        C   First
378         0       3    male  20.00      0      0    4.0125        C   Third
380         1       1  female  42.00      0      0  227.5250        C   First
381         1       3  female   1.00      0      2   15.7417        C   Third
389         1       2  female  17.00      0      0   12.0000        C  Second
393         1       1  female  23.00      1      0  113.2750        C   First
420         0       3    male    NaN      0      0    7.8958        C   Third
448         1       3  female   5.00      2      1   19.2583        C   Third
452         0       1    male  30.00      0      0   27.7500        C   First
453         1       1    male  49.00      1      0   89.1042        C   First
455         1       3    male  29.00      0      0    7.8958        C   Third
469         1       3  female   0.75      2      1   19.2583        C   Third
473         1       2  female  23.00      0      0   13.7917        C  Second
484         1       1    male  25.00      1      0   91.0792        C   First
487         0       1    male  58.00      0      0   29.7000        C   First
493         0       1    male  71.00      0      0   49.5042        C   First
495         0       3    male    NaN      0      0   14.4583        C   Third
496         1       1  female  54.00      1      0   78.2667        C   First
505         0       1    male  18.00      1      0  108.9000        C   First
513         1       1  female  54.00      1      0   59.4000        C   First
522         0       3    male    NaN      0      0    7.2250        C   Third
523         1       1  female  44.00      0      1   57.9792        C   First
524         0       3    male    NaN      0      0    7.2292        C   Third
531         0       3    male    NaN      0      0    7.2292        C   Third
532         0       3    male  17.00      1      1    7.2292        C   Third
533         1       3  female    NaN      0      2   22.3583        C   Third
537         1       1  female  30.00      0      0  106.4250        C   First
539         1       1  female  22.00      0      2   49.5000        C   First
544         0       1    male  50.00      1      0  106.4250        C   First
547         1       2    male    NaN      0      0   13.8625        C  Second
550         1       1    male  17.00      0      2  110.8833        C   First
553         1       3    male  22.00      0      0    7.2250        C   Third
556         1       1  female  48.00      1      0   39.6000        C   First
557         0       1    male    NaN      0      0  227.5250        C   First
568         0       3    male    NaN      0      0    7.2292        C   Third
578         0       3  female    NaN      1      0   14.4583        C   Third
581         1       1  female  39.00      1      1  110.8833        C   First
583         0       1    male  36.00      0      0   40.1250        C   First
584         0       3    male    NaN      0      0    8.7125        C   Third
587         1       1    male  60.00      1      1   79.2000        C   First
591         1       1  female  52.00      1      0   78.2667        C   First
598         0       3    male    NaN      0      0    7.2250        C   Third
599         1       1    male  49.00      1      0   56.9292        C   First
604         1       1    male  35.00      0      0   26.5500        C   First
608         1       2  female  22.00      1      2   41.5792        C  Second
620         0       3    male  27.00      1      0   14.4542        C   Third
622         1       3    male  20.00      1      1   15.7417        C   Third
632         1       1    male  32.00      0      0   30.5000        C   First
641         1       1  female  24.00      0      0   69.3000        C   First
644         1       3  female   0.75      2      1   19.2583        C   Third
645         1       1    male  48.00      1      0   76.7292        C   First
647         1       1    male  56.00      0      0   35.5000        C   First
659         0       1    male  58.00      0      2  113.2750        C   First
661         0       3    male  40.00      0      0    7.2250        C   Third
679         1       1    male  36.00      0      1  512.3292        C   First
681         1       1    male  27.00      0      0   76.7292        C   First
685         0       2    male  25.00      1      2   41.5792        C  Second
691         1       3  female   4.00      0      1   13.4167        C   Third
693         0       3    male  25.00      0      0    7.2250        C   Third
698         0       1    male  49.00      1      1  110.8833        C   First
700         1       1  female  18.00      1      0  227.5250        C   First
702         0       3  female  18.00      0      1   14.4542        C   Third
709         1       3    male    NaN      1      1   15.2458        C   Third
710         1       1  female  24.00      0      0   49.5042        C   First
716         1       1  female  38.00      0      0  227.5250        C   First
731         0       3    male  11.00      0      0   18.7875        C   Third
737         1       1    male  35.00      0      0  512.3292        C   First
742         1       1  female  21.00      2      2  262.3750        C   First
762         1       3    male  20.00      0      0    7.2292        C   Third
766         0       1    male    NaN      0      0   39.6000        C   First
773         0       3    male    NaN      0      0    7.2250        C   Third
780         1       3  female  13.00      0      0    7.2292        C   Third
789         0       1    male  46.00      0      0   79.2000        C   First
793         0       1    male    NaN      0      0   30.6958        C   First
798         0       3    male  30.00      0      0    7.2292        C   Third
803         1       3    male   0.42      0      1    8.5167        C   Third
817         0       2    male  31.00      1      1   37.0042        C  Second
827         1       2    male   1.00      0      2   37.0042        C  Second
830         1       3  female  15.00      1      0   14.4542        C   Third
832         0       3    male    NaN      0      0    7.2292        C   Third
835         1       1  female  39.00      1      1   83.1583        C   First
839         1       1    male    NaN      0      0   29.7000        C   First
842         1       1  female  30.00      0      0   31.0000        C   First
843         0       3    male  34.50      0      0    6.4375        C   Third
847         0       3    male  35.00      0      0    7.8958        C   Third
849         1       1  female    NaN      1      0   89.1042        C   First
852         0       3  female   9.00      1      1   15.2458        C   Third
858         1       3  female  24.00      0      3   19.2583        C   Third
859         0       3    male    NaN      0      0    7.2292        C   Third
866         1       2  female  27.00      1      0   13.8583        C  Second
874         1       2  female  28.00      1      0   24.0000        C  Second
875         1       3  female  15.00      0      0    7.2250        C   Third
879         1       1  female  56.00      0      1   83.1583        C   First
889         1       1    male  26.00      0      0   30.0000        C   First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
9    child       False  NaN   Cherbourg   yes  False
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
30     man        True  NaN   Cherbourg    no   True
31   woman       False    B   Cherbourg   yes  False
34     man        True  NaN   Cherbourg    no  False
36     man        True  NaN   Cherbourg   yes   True
39   child       False  NaN   Cherbourg   yes  False
42     man        True  NaN   Cherbourg    no   True
43   child       False  NaN   Cherbourg   yes  False
48     man        True  NaN   Cherbourg    no  False
52   woman       False    D   Cherbourg   yes  False
54     man        True    B   Cherbourg    no  False
57     man        True  NaN   Cherbourg    no   True
60     man        True  NaN   Cherbourg    no   True
64     man        True  NaN   Cherbourg    no   True
65     man        True  NaN   Cherbourg   yes  False
73     man        True  NaN   Cherbourg    no  False
96     man        True    A   Cherbourg    no   True
97     man        True    D   Cherbourg   yes  False
111  child       False  NaN   Cherbourg    no  False
114  woman       False  NaN   Cherbourg    no   True
118    man        True    B   Cherbourg    no  False
122    man        True  NaN   Cherbourg    no  False
125  child       False  NaN   Cherbourg   yes  False
128  woman       False    F   Cherbourg   yes  False
130    man        True  NaN   Cherbourg    no   True
135    man        True  NaN   Cherbourg    no   True
139    man        True    B   Cherbourg    no   True
140  woman       False  NaN   Cherbourg    no  False
155    man        True  NaN   Cherbourg    no  False
174    man        True    A   Cherbourg    no   True
177  woman       False    C   Cherbourg    no   True
181    man        True  NaN   Cherbourg    no   True
194  woman       False    B   Cherbourg   yes   True
195  woman       False    B   Cherbourg   yes   True
203    man        True  NaN   Cherbourg    no   True
207    man        True  NaN   Cherbourg   yes   True
209    man        True    A   Cherbourg   yes   True
215  woman       False    D   Cherbourg   yes  False
218  woman       False    D   Cherbourg   yes   True
240  woman       False  NaN   Cherbourg    no  False
244    man        True  NaN   Cherbourg    no   True
255  woman       False  NaN   Cherbourg   yes  False
256  woman       False  NaN   Cherbourg   yes   True
258  woman       False  NaN   Cherbourg   yes   True
273    man        True    C   Cherbourg    no  False
285    man        True  NaN   Cherbourg    no   True
291  woman       False    B   Cherbourg   yes  False
292    man        True    D   Cherbourg    no   True
295    man        True  NaN   Cherbourg    no   True
296    man        True  NaN   Cherbourg    no   True
299  woman       False    B   Cherbourg   yes  False
306  woman       False  NaN   Cherbourg   yes   True
307  woman       False    C   Cherbourg   yes  False
308    man        True  NaN   Cherbourg    no  False
309  woman       False    E   Cherbourg   yes   True
310  woman       False    C   Cherbourg   yes   True
311  woman       False    B   Cherbourg   yes  False
319  woman       False    E   Cherbourg   yes  False
325  woman       False    C   Cherbourg   yes   True
329  woman       False    B   Cherbourg   yes  False
337  woman       False    E   Cherbourg   yes   True
352  child       False  NaN   Cherbourg    no  False
354    man        True  NaN   Cherbourg    no   True
361    man        True  NaN   Cherbourg    no  False
362  woman       False  NaN   Cherbourg    no  False
366  woman       False    D   Cherbourg   yes  False
367  woman       False  NaN   Cherbourg   yes   True
369  woman       False    B   Cherbourg   yes   True
370    man        True    E   Cherbourg   yes  False
373    man        True  NaN   Cherbourg    no   True
375  woman       False  NaN   Cherbourg   yes  False
377    man        True    C   Cherbourg    no  False
378    man        True  NaN   Cherbourg    no   True
380  woman       False  NaN   Cherbourg   yes   True
381  child       False  NaN   Cherbourg   yes  False
389  woman       False  NaN   Cherbourg   yes   True
393  woman       False    D   Cherbourg   yes  False
420    man        True  NaN   Cherbourg    no   True
448  child       False  NaN   Cherbourg   yes  False
452    man        True    C   Cherbourg    no   True
453    man        True    C   Cherbourg   yes  False
455    man        True  NaN   Cherbourg   yes   True
469  child       False  NaN   Cherbourg   yes  False
473  woman       False    D   Cherbourg   yes   True
484    man        True    B   Cherbourg   yes  False
487    man        True    B   Cherbourg    no   True
493    man        True  NaN   Cherbourg    no   True
495    man        True  NaN   Cherbourg    no   True
496  woman       False    D   Cherbourg   yes  False
505    man        True    C   Cherbourg    no  False
513  woman       False  NaN   Cherbourg   yes  False
522    man        True  NaN   Cherbourg    no   True
523  woman       False    B   Cherbourg   yes  False
524    man        True  NaN   Cherbourg    no   True
531    man        True  NaN   Cherbourg    no   True
532    man        True  NaN   Cherbourg    no  False
533  woman       False  NaN   Cherbourg   yes  False
537  woman       False  NaN   Cherbourg   yes   True
539  woman       False    B   Cherbourg   yes  False
544    man        True    C   Cherbourg    no  False
547    man        True  NaN   Cherbourg   yes   True
550    man        True    C   Cherbourg   yes  False
553    man        True  NaN   Cherbourg   yes   True
556  woman       False    A   Cherbourg   yes  False
557    man        True  NaN   Cherbourg    no   True
568    man        True  NaN   Cherbourg    no   True
578  woman       False  NaN   Cherbourg    no  False
581  woman       False    C   Cherbourg   yes  False
583    man        True    A   Cherbourg    no   True
584    man        True  NaN   Cherbourg    no   True
587    man        True    B   Cherbourg   yes  False
591  woman       False    D   Cherbourg   yes  False
598    man        True  NaN   Cherbourg    no   True
599    man        True    A   Cherbourg   yes  False
604    man        True  NaN   Cherbourg   yes   True
608  woman       False  NaN   Cherbourg   yes  False
620    man        True  NaN   Cherbourg    no  False
622    man        True  NaN   Cherbourg   yes  False
632    man        True    B   Cherbourg   yes   True
641  woman       False    B   Cherbourg   yes   True
644  child       False  NaN   Cherbourg   yes  False
645    man        True    D   Cherbourg   yes  False
647    man        True    A   Cherbourg   yes   True
659    man        True    D   Cherbourg    no  False

In [9]:
print(df[df["embarked"] != "S"])

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
1           1       1  female  38.00      1      0   71.2833        C   First
5           0       3    male    NaN      0      0    8.4583        Q   Third
9           1       2  female  14.00      1      0   30.0708        C  Second
16          0       3    male   2.00      4      1   29.1250        Q   Third
19          1       3  female    NaN      0      0    7.2250        C   Third
22          1       3  female  15.00      0      0    8.0292        Q   Third
26          0       3    male    NaN      0      0    7.2250        C   Third
28          1       3  female    NaN      0      0    7.8792        Q   Third
30          0       1    male  40.00      0      0   27.7208        C   First
31          1       1  female    NaN      1      0  146.5208        C   First
32          1       3  female    NaN      0      0    7.7500        Q   Third
34          0       1    male  28.00      1      0   82.1708        C   First
36          1       3    male    NaN      0      0    7.2292        C   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
42          0       3    male    NaN      0      0    7.8958        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
44          1       3  female  19.00      0      0    7.8792        Q   Third
46          0       3    male    NaN      1      0   15.5000        Q   Third
47          1       3  female    NaN      0      0    7.7500        Q   Third
48          0       3    male    NaN      2      0   21.6792        C   Third
52          1       1  female  49.00      1      0   76.7292        C   First
54          0       1    male  65.00      0      1   61.9792        C   First
57          0       3    male  28.50      0      0    7.2292        C   Third
60          0       3    male  22.00      0      0    7.2292        C   Third
61          1       1  female  38.00      0      0   80.0000      NaN   First
64          0       1    male    NaN      0      0   27.7208        C   First
65          1       3    male    NaN      1      1   15.2458        C   Third
73          0       3    male  26.00      1      0   14.4542        C   Third
82          1       3  female    NaN      0      0    7.7875        Q   Third
96          0       1    male  71.00      0      0   34.6542        C   First
97          1       1    male  23.00      0      1   63.3583        C   First
109         1       3  female    NaN      1      0   24.1500        Q   Third
111         0       3  female  14.50      1      0   14.4542        C   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
116         0       3    male  70.50      0      0    7.7500        Q   Third
118         0       1    male  24.00      0      1  247.5208        C   First
122         0       2    male  32.50      1      0   30.0708        C  Second
125         1       3    male  12.00      1      0   11.2417        C   Third
126         0       3    male    NaN      0      0    7.7500        Q   Third
128         1       3  female    NaN      1      1   22.3583        C   Third
130         0       3    male  33.00      0      0    7.8958        C   Third
135         0       2    male  23.00      0      0   15.0458        C  Second
139         0       1    male  24.00      0      0   79.2000        C   First
140         0       3  female    NaN      0      2   15.2458        C   Third
143         0       3    male  19.00      0      0    6.7500        Q   Third
155         0       1    male  51.00      0      1   61.3792        C   First
156         1       3  female  16.00      0      0    7.7333        Q   Third
171         0       3    male   4.00      4      1   29.1250        Q   Third
174         0       1    male  56.00      0      0   30.6958        C   First
177         0       1  female  50.00      0      0   28.7125        C   First
181         0       2    male    NaN      0      0   15.0500        C  Second
186         1       3  female    NaN      1      0   15.5000        Q   Third
188         0       3    male  40.00      1      1   15.5000        Q   Third
194         1       1  female  44.00      0      0   27.7208        C   First
195         1       1  female  58.00      0      0  146.5208        C   First
196         0       3    male    NaN      0      0    7.7500        Q   Third
198         1       3  female    NaN      0      0    7.7500        Q   Third
203         0       3    male  45.50      0      0    7.2250        C   Third
207         1       3    male  26.00      0      0   18.7875        C   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
209         1       1    male  40.00      0      0   31.0000        C   First
214         0       3    male    NaN      1      0    7.7500        Q   Third
215         1       1  female  31.00      1      0  113.2750        C   First
218         1       1  female  32.00      0      0   76.2917        C   First
240         0       3  female    NaN      1      0   14.4542        C   Third
241         1       3  female    NaN      1      0   15.5000        Q   Third
244         0       3    male  30.00      0      0    7.2250        C   Third
245         0       1    male  44.00      2      0   90.0000        Q   First
255         1       3  female  29.00      0      2   15.2458        C   Third
256         1       1  female    NaN      0      0   79.2000        C   First
258         1       1  female  35.00      0      0  512.3292        C   First
260         0       3    male    NaN      0      0    7.7500        Q   Third
264         0       3  female    NaN      0      0    7.7500        Q   Third
273         0       1    male  37.00      0      1   29.7000        C   First
274         1       3  female    NaN      0      0    7.7500        Q   Third
278         0       3    male   7.00      4      1   29.1250        Q   Third
280         0       3    male  65.00      0      0    7.7500        Q   Third
285         0       3    male  33.00      0      0    8.6625        C   Third
289         1       3  female  22.00      0      0    7.7500        Q   Third
291         1       1  female  19.00      1      0   91.0792        C   First
292         0       2    male  36.00      0      0   12.8750        C  Second
295         0       1    male    NaN      0      0   27.7208        C   First
296         0       3    male  23.50      0      0    7.2292        C   Third
299         1       1  female  50.00      0      1  247.5208        C   First
300         1       3  female    NaN      0      0    7.7500        Q   Third
301         1       3    male    NaN      2      0   23.2500        Q   Third
303         1       2  female    NaN      0      0   12.3500        Q  Second
306         1       1  female    NaN      0      0  110.8833        C   First
307         1       1  female  17.00      1      0  108.9000        C   First
308         0       2    male  30.00      1      0   24.0000        C  Second
309         1       1  female  30.00      0      0   56.9292        C   First
310         1       1  female  24.00      0      0   83.1583        C   First
311         1       1  female  18.00      2      2  262.3750        C   First
319         1       1  female  40.00      1      1  134.5000        C   First
322         1       2  female  30.00      0      0   12.3500        Q  Second
325         1       1  female  36.00      0      0  135.6333        C   First
329         1       1  female  16.00      0      1   57.9792        C   First
330         1       3  female    NaN      2      0   23.2500        Q   Third
337         1       1  female  41.00      0      0  134.5000        C   First
352         0       3    male  15.00      1      1    7.2292        C   Third
354         0       3    male    NaN      0      0    7.2250        C   Third
358         1       3  female    NaN      0      0    7.8792        Q   Third
359         1       3  female    NaN      0      0    7.8792        Q   Third
361         0       2    male  29.00      1      0   27.7208        C  Second
362         0       3  female  45.00      0      1   14.4542        C   Third
364         0       3    male    NaN      1      0   15.5000        Q   Third
366         1       1  female  60.00      1      0   75.2500        C   First
367         1       3  female    NaN      0      0    7.2292        C   Third
368         1       3  female    NaN      0      0    7.7500        Q   Third
369         1       1  female  24.00      0      0   69.3000        C   First
370         1       1    male  25.00      1      0   55.4417        C   First
373         0       1    male  22.00      0      0  135.6333        C   First
375         1       1  female    NaN      1      0   82.1708        C   First
377         0       1    male  27.00      0      2  211.5000        C   First
378         0       3    male  20.00      0      0    4.0125        C   Third
380         1       1  female  42.00      0      0  227.5250        C   First
381         1       3  female   1.00      0      2   15.7417        C   Third
388         0       3    male    NaN      0      0    7.7292        Q   Third
389         1       2  female  17.00      0      0   12.0000        C  Second
393         1       1  female  23.00      1      0  113.2750        C   First
411         0       3    male    NaN      0      0    6.8583        Q   Third
412         1       1  female  33.00      1      0   90.0000        Q   First
420         0       3    male    NaN      0      0    7.8958        C   Third
421         0       3    male  21.00      0      0    7.7333        Q   Third
428         0       3    male    NaN      0      0    7.7500        Q   Third
448         1       3  female   5.00      2      1   19.2583        C   Third
452         0       1    male  30.00      0      0   27.7500        C   First
453         1       1    male  49.00      1      0   89.1042        C   First
455         1       3    male  29.00      0      0    7.8958        C   Third
459         0       3    male    NaN      0      0    7.7500        Q   Third
468         0       3    male    NaN      0      0    7.7250        Q   Third
469         1       3  female   0.75      2      1   19.2583        C   Third
473         1       2  female  23.00      0      0   13.7917        C  Second
484         1       1    male  25.00      1      0   91.0792        C   First
487         0       1    male  58.00      0      0   29.7000        C   First
493         0       1    male  71.00      0      0   49.5042        C   First
495         0       3    male    NaN      0      0   14.4583        C   Third
496         1       1  female  54.00      1      0   78.2667        C   First
501         0       3  female  21.00      0      0    7.7500        Q   Third
502         0       3  female    NaN      0      0    7.6292        Q   Third
505         0       1    male  18.00      1      0  108.9000        C   First
510         1       3    male  29.00      0      0    7.7500        Q   Third
513         1       1  female  54.00      1      0   59.4000        C   First
517         0       3    male    NaN      0      0   24.1500        Q   Third
522         0       3    male    NaN      0      0    7.2250        C   Third
523         1       1  female  44.00      0      1   57.9792        C   First
524         0       3    male    NaN      0      0    7.2292        C   Third
525         0       3    male  40.50      0      0    7.7500        Q   Third
531         0       3    male    NaN      0      0    7.2292        C   Third
532         0       3    male  17.00      1      1    7.2292        C   Third
533         1       3  female    NaN      0      2   22.3583        C   Third
537         1       1  female  30.00      0      0  106.4250        C   First
539         1       1  female  22.00      0      2   49.5000        C   First
544         0       1    male  50.00      1      0  106.4250        C   First
547         1       2    male    NaN      0      0   13.8625        C  Second
550         1       1    male  17.00      0      2  110.8833        C   First
552         0       3    male    NaN      0      0    7.8292        Q   Third
553         1       3    male  22.00      0      0    7.2250        C   Third
556         1       1  female  48.00      1      0   39.6000        C   First
557         0       1    male    NaN      0      0  227.5250        C   First
560         0       3    male    NaN      0      0    7.7500        Q   Third
568         0       3    male    NaN      0      0    7.2292        C   Third
573         1       3  female    NaN      0      0    7.7500        Q   Third
578         0       3  female    NaN      1      0   14.4583        C   Third
581         1       1  female  39.00      1      1  110.8833        C   First
583         0       1    male  36.00      0      0   40.1250        C   First
584         0       3    male    NaN      0      0    8.7125        C   Third
587         1       1    male  60.00      1      1   79.2000        C   First
591         1       1  female  52.00      1      0   78.2667        C   First
593         0       3  female    NaN      0      2    7.7500        Q   Third
598         0       3    male    NaN      0      0    7.2250        C   Third
599         1       1    male  49.00      1      0   56.9292        C   First
604         1       1    male  35.00      0      0   26.5500        C   First
608         1       2  female  22.00      1      2   41.5792        C  Second
612         1       3  female    NaN      1      0   15.5000        Q   Third
613         0       3    male    NaN      0      0    7.7500        Q   Third
620         0       3    male  27.00      1      0   14.4542        C   Third
622         1       3    male  20.00      1      1   15.7417        C   Third
626         0       2    male  57.00      0      0   12.3500        Q  Second
629         0       3    male    NaN      0      0    7.7333        Q   Third
632         1       1    male  32.00      0      0   30.5000        C   First
641         1       1  female  24.00      0      0   69.3000        C   First
644         1       3  female   0.75      2      1   19.2583        C   Third
645         1       1    male  48.00      1      0   76.7292        C   First
647         1       1    male  56.00      0      0   35.5000        C   First
653         1       3  female    NaN      0      0    7.8292        Q   Third
654         0       3  female  18.00      0      0    6.7500        Q   Third
657         0       3  female  32.00      1      1   15.5000        Q   Third
659         0       1    male  58.00      0      2  113.2750        C   First
661         0       3    male  40.00      0      0    7.2250        C   Third
679         1       1    male  36.00      0      1  512.3292        C   First
680         0       3  female    NaN      0      0    8.1375        Q   Third
681         1       1    male  27.00      0      0   76.7292        C   First
685         0       2    male  25.00      1      2   41.5792        C  Second
691         1       3  female   4.00      0      1   13.4167        C   Third
693         0       3    male  25.00      0      0    7.2250        C   Third
697         1       3  female    NaN      0      0    7.7333        Q   Third
698         0       1    male  49.00      1      1  110.8833        C   First
700         1       1  female  18.00      1      0  227.5250        C   First
702         0       3  female  18.00      0      1   14.4542        C   Third
703         0       3    male  25.00      0      0    7.7417        Q   Third
709         1       3    male    NaN      1      1   15.2458        C   Third
710         1       1  female  24.00      0      0   49.5042        C   First
716         1       1  female  38.00      0      0  227.5250        C   First
718         0       3    male    NaN      0      0   15.5000        Q   Third
727         1       3  female    NaN      0      0    7.7375        Q   Third
731         0       3    male  11.00      0      0   18.7875        C   Third
737         1       1    male  35.00      0      0  512.3292        C   First
742         1       1  female  21.00      2      2  262.3750        C   First
749         0       3    male  31.00      0      0    7.7500        Q   Third
762         1       3    male  20.00      0      0    7.2292        C   Third
766         0       1    male    NaN      0      0   39.6000        C   First
767         0       3  female  30.50      0      0    7.7500        Q   Third
768         0       3    male    NaN      1      0   24.1500        Q   Third
773         0       3    male    NaN      0      0    7.2250        C   Third
776         0       3    male    NaN      0      0    7.7500        Q   Third
778         0       3    male    NaN      0      0    7.7375        Q   Third
780         1       3  female  13.00      0      0    7.2292        C   Third
787         0       3    male   8.00      4      1   29.1250        Q   Third
789         0       1    male  46.00      0      0   79.2000        C   First
790         0       3    male    NaN      0      0    7.7500        Q   Third
793         0       1    male    NaN      0      0   30.6958        C   First
798         0       3    male  30.00      0      0    7.2292        C   Third
803         1       3    male   0.42      0      1    8.5167        C   Third
817         0       2    male  31.00      1      1   37.0042        C  Second
825         0       3    male    NaN      0      0    6.9500        Q   Third
827         1       2    male   1.00      0      2   37.0042        C  Second
828         1       3    male    NaN      0      0    7.7500        Q   Third
829         1       1  female  62.00      0      0   80.0000      NaN   First
830         1       3  female  15.00      1      0   14.4542        C   Third
832         0       3    male    NaN      0      0    7.2292        C   Third
835         1       1  female  39.00      1      1   83.1583        C   First
839         1       1    male    NaN      0      0   29.7000        C   First
842         1       1  female  30.00      0      0   31.0000        C   First
843         0       3    male  34.50      0      0    6.4375        C   Third
847         0       3    male  35.00      0      0    7.8958        C   Third
849         1       1  female    NaN      1      0   89.1042        C   First
852         0       3  female   9.00      1      1   15.2458        C   Third
858         1       3  female  24.00      0      3   19.2583        C   Third
859         0       3    male    NaN      0      0    7.2292        C   Third
866         1       2  female  27.00      1      0   13.8583        C  Second
874         1       2  female  28.00      1      0   24.0000        C  Second
875         1       3  female  15.00      0      0    7.2250        C   Third
879         1       1  female  56.00      0      1   83.1583        C   First
885         0       3  female  39.00      0      5   29.1250        Q   Third
889         1       1    male  26.00      0      0   30.0000        C   First
890         0       3    male  32.00      0      0    7.7500        Q   Third

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
5      man        True  NaN  Queenstown    no   True
9    child       False  NaN   Cherbourg   yes  False
16   child       False  NaN  Queenstown    no  False
19   woman       False  NaN   Cherbourg   yes   True
22   child       False  NaN  Queenstown   yes   True
26     man        True  NaN   Cherbourg    no   True
28   woman       False  NaN  Queenstown   yes   True
30     man        True  NaN   Cherbourg    no   True
31   woman       False    B   Cherbourg   yes  False
32   woman       False  NaN  Queenstown   yes   True

In [10]:
print(df[(df["sex"] == "female") & (df["age"] < 30)])

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
2           1       3  female  26.00      0      0    7.9250        S   Third
8           1       3  female  27.00      0      2   11.1333        S   Third
9           1       2  female  14.00      1      0   30.0708        C  Second
10          1       3  female   4.00      1      1   16.7000        S   Third
14          0       3  female  14.00      0      0    7.8542        S   Third
22          1       3  female  15.00      0      0    8.0292        Q   Third
24          0       3  female   8.00      3      1   21.0750        S   Third
38          0       3  female  18.00      2      0   18.0000        S   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
41          0       2  female  27.00      1      0   21.0000        S  Second
43          1       2  female   3.00      1      2   41.5792        C  Second
44          1       3  female  19.00      0      0    7.8792        Q   Third
49          0       3  female  18.00      1      0   17.8000        S   Third
53          1       2  female  29.00      1      0   26.0000        S  Second
56          1       2  female  21.00      0      0   10.5000        S  Second
58          1       2  female   5.00      1      2   27.7500        S  Second
66          1       2  female  29.00      0      0   10.5000        S  Second
68          1       3  female  17.00      4      2    7.9250        S   Third
71          0       3  female  16.00      5      2   46.9000        S   Third
84          1       2  female  17.00      0      0   10.5000        S  Second
88          1       1  female  23.00      3      2  263.0000        S   First
100         0       3  female  28.00      0      0    7.8958        S   Third
106         1       3  female  21.00      0      0    7.6500        S   Third
111         0       3  female  14.50      1      0   14.4542        C   Third
113         0       3  female  20.00      1      0    9.8250        S   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
119         0       3  female   2.00      4      2   31.2750        S   Third
133         1       2  female  29.00      1      0   26.0000        S  Second
136         1       1  female  19.00      0      2   26.2833        S   First
141         1       3  female  22.00      0      0    7.7500        S   Third
142         1       3  female  24.00      1      0   15.8500        S   Third
147         0       3  female   9.00      2      2   34.3750        S   Third
151         1       1  female  22.00      1      0   66.6000        S   First
156         1       3  female  16.00      0      0    7.7333        Q   Third
172         1       3  female   1.00      1      1   11.1333        S   Third
184         1       3  female   4.00      0      2   22.0250        S   Third
192         1       3  female  19.00      1      0    7.8542        S   Third
199         0       2  female  24.00      0      0   13.0000        S  Second
205         0       3  female   2.00      0      1   10.4625        S   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
216         1       3  female  27.00      0      0    7.9250        S   Third
233         1       3  female   5.00      4      2   31.3875        S   Third
237         1       2  female   8.00      0      2   26.2500        S  Second
246         0       3  female  25.00      0      0    7.7750        S   Third
247         1       2  female  24.00      0      2   14.5000        S  Second
251         0       3  female  29.00      1      1   10.4625        S   Third
255         1       3  female  29.00      0      2   15.2458        C   Third
289         1       3  female  22.00      0      0    7.7500        Q   Third
290         1       1  female  26.00      0      0   78.8500        S   First
291         1       1  female  19.00      1      0   91.0792        C   First
293         0       3  female  24.00      0      0    8.8500        S   Third
297         0       1  female   2.00      1      2  151.5500        S   First
307         1       1  female  17.00      1      0  108.9000        C   First
310         1       1  female  24.00      0      0   83.1583        C   First
311         1       1  female  18.00      2      2  262.3750        C   First
312         0       2  female  26.00      1      1   26.0000        S  Second
315         1       3  female  26.00      0      0    7.8542        S   Third
316         1       2  female  24.00      1      0   26.0000        S  Second
323         1       2  female  22.00      1      1   29.0000        S  Second
329         1       1  female  16.00      0      1   57.9792        C   First
341         1       1  female  24.00      3      2  263.0000        S   First
345         1       2  female  24.00      0      0   13.0000        S  Second
356         1       1  female  22.00      0      1   55.0000        S   First
369         1       1  female  24.00      0      0   69.3000        C   First
374         0       3  female   3.00      3      1   21.0750        S   Third
376         1       3  female  22.00      0      0    7.2500        S   Third
381         1       3  female   1.00      0      2   15.7417        C   Third
389         1       2  female  17.00      0      0   12.0000        C  Second
393         1       1  female  23.00      1      0  113.2750        C   First
394         1       3  female  24.00      0      2   16.7000        S   Third
399         1       2  female  28.00      0      0   12.6500        S  Second
402         0       3  female  21.00      1      0    9.8250        S   Third
404         0       3  female  20.00      0      0    8.6625        S   Third
417         1       2  female  18.00      0      2   13.0000        S  Second
419         0       3  female  10.00      0      2   24.1500        S   Third
423         0       3  female  28.00      1      1   14.4000        S   Third
426         1       2  female  28.00      1      0   26.0000        S  Second
427         1       2  female  19.00      0      0   26.0000        S  Second
435         1       1  female  14.00      1      2  120.0000        S   First
436         0       3  female  21.00      2      2   34.3750        S   Third
437         1       2  female  24.00      2      3   18.7500        S  Second
443         1       2  female  28.00      0      0   13.0000        S  Second
446         1       2  female  13.00      0      1   19.5000        S  Second
448         1       3  female   5.00      2      1   19.2583        C   Third
469         1       3  female   0.75      2      1   19.2583        C   Third
473         1       2  female  23.00      0      0   13.7917        C  Second
474         0       3  female  22.00      0      0    9.8375        S   Third
479         1       3  female   2.00      0      1   12.2875        S   Third
498         0       1  female  25.00      1      2  151.5500        S   First
501         0       3  female  21.00      0      0    7.7500        Q   Third
504         1       1  female  16.00      0      0   86.5000        S   First
530         1       2  female   2.00      1      1   26.0000        S  Second
535         1       2  female   7.00      0      2   26.2500        S  Second
539         1       1  female  22.00      0      2   49.5000        C   First
541         0       3  female   9.00      4      2   31.2750        S   Third
542         0       3  female  11.00      4      2   31.2750        S   Third
546         1       2  female  19.00      1      0   26.0000        S  Second
554         1       3  female  22.00      0      0    7.7750        S   Third
567         0       3  female  29.00      0      4   21.0750        S   Third
580         1       2  female  25.00      1      1   30.0000        S  Second
585         1       1  female  18.00      0      2   79.6500        S   First
600         1       2  female  24.00      2      1   27.0000        S  Second
608         1       2  female  22.00      1      2   41.5792        C  Second
615         1       2  female  24.00      1      2   65.0000        S  Second
617         0       3  female  26.00      1      0   16.1000        S   Third
618         1       2  female   4.00      2      1   39.0000        S  Second
627         1       1  female  21.00      0      0   77.9583        S   First
634         0       3  female   9.00      3      2   27.9000        S   Third
635         1       2  female  28.00      0      0   13.0000        S  Second
641         1       1  female  24.00      0      0   69.3000        C   First
642         0       3  female   2.00      3      2   27.9000        S   Third
644         1       3  female   0.75      2      1   19.2583        C   Third
649         1       3  female  23.00      0      0    7.5500        S   Third
651         1       2  female  18.00      0      1   23.0000        S  Second
654         0       3  female  18.00      0      0    6.7500        Q   Third
677         1       3  female  18.00      0      0    9.8417        S   Third
689         1       1  female  15.00      0      1  211.3375        S   First
691         1       3  female   4.00      0      1   13.4167        C   Third
700         1       1  female  18.00      1      0  227.5250        C   First
702         0       3  female  18.00      0      1   14.4542        C   Third
708         1       1  female  22.00      0      0  151.5500        S   First
710         1       1  female  24.00      0      0   49.5042        C   First
717         1       2  female  27.00      0      0   10.5000        S  Second
720         1       2  female   6.00      0      1   33.0000        S  Second
729         0       3  female  25.00      1      0    7.9250        S   Third
730         1       1  female  29.00      0      0  211.3375        S   First
742         1       1  female  21.00      2      2  262.3750        C   First
750         1       2  female   4.00      1      1   23.0000        S  Second
777         1       3  female   5.00      0      0   12.4750        S   Third
780         1       3  female  13.00      0      0    7.2292        C   Third
781         1       1  female  17.00      1      0   57.0000        S   First
786         1       3  female  18.00      0      0    7.4958        S   Third
807         0       3  female  18.00      0      0    7.7750        S   Third
813         0       3  female   6.00      4      2   31.2750        S   Third
816         0       3  female  23.00      0      0    7.9250        S   Third
823         1       3  female  27.00      0      1   12.4750        S   Third
830         1       3  female  15.00      1      0   14.4542        C   Third
852         0       3  female   9.00      1      1   15.2458        C   Third
853         1       1  female  16.00      0      1   39.4000        S   First
855         1       3  female  18.00      0      1    9.3500        S   Third
858         1       3  female  24.00      0      3   19.2583        C   Third
866         1       2  female  27.00      1      0   13.8583        C  Second
874         1       2  female  28.00      1      0   24.0000        C  Second
875         1       3  female  15.00      0      0    7.2250        C   Third
880         1       2  female  25.00      0      1   26.0000        S  Second
882         0       3  female  22.00      0      0   10.5167        S   Third
887         1       1  female  19.00      0      0   30.0000        S   First

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
22   child       False  NaN   Queenstown   yes   True
24   child       False  NaN  Southampton    no  False
38   woman       False  NaN  Southampton    no  False
39   child       False  NaN    Cherbourg   yes  False
41   woman       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
44   woman       False  NaN   Queenstown   yes   True
49   woman       False  NaN  Southampton    no  False
53   woman       False  NaN  Southampton   yes  False
56   woman       False  NaN  Southampton   yes   True
58   child       False  NaN  Southampton   yes  False
66   woman       False    F  Southampton   yes   True
68   woman       False  NaN  Southampton   yes  False
71   woman       False  NaN  Southampton    no  False
84   woman       False  NaN  Southampton   yes   True
88   woman       False    C  Southampton   yes  False
100  woman       False  NaN  Southampton    no   True
106  woman       False  NaN  Southampton   yes   True
111  child       False  NaN    Cherbourg    no  False
113  woman       False  NaN  Southampton    no  False
114  woman       False  NaN    Cherbourg    no   True
119  child       False  NaN  Southampton    no  False
133  woman       False  NaN  Southampton   yes  False
136  woman       False    D  Southampton   yes  False
141  woman       False  NaN  Southampton   yes   True
142  woman       False  NaN  Southampton   yes  False
147  child       False  NaN  Southampton    no  False
151  woman       False    C  Southampton   yes  False
156  woman       False  NaN   Queenstown   yes   True
172  child       False  NaN  Southampton   yes  False
184  child       False  NaN  Southampton   yes  False
192  woman       False  NaN  Southampton   yes  False
199  woman       False  NaN  Southampton    no   True
205  child       False    G  Southampton    no  False
208  woman       False  NaN   Queenstown   yes   True
216  woman       False  NaN  Southampton   yes   True
233  child       False  NaN  Southampton   yes  False
237  child       False  NaN  Southampton   yes  False
246  woman       False  NaN  Southampton    no   True
247  woman       False  NaN  Southampton   yes  False
251  woman       False    G  Southampton    no  False
255  woman       False  NaN    Cherbourg   yes  False
289  woman       False  NaN   Queenstown   yes   True
290  woman       False  NaN  Southampton   yes   True
291  woman       False    B    Cherbourg   yes  False
293  woman       False  NaN  Southampton    no   True
297  child       False    C  Southampton    no  False
307  woman       False    C    Cherbourg   yes  False
310  woman       False    C    Cherbourg   yes   True
311  woman       False    B    Cherbourg   yes  False
312  woman       False  NaN  Southampton    no  False
315  woman       False  NaN  Southampton   yes   True
316  woman       False  NaN  Southampton   yes  False
323  woman       False  NaN  Southampton   yes  False
329  woman       False    B    Cherbourg   yes  False
341  woman       False    C  Southampton   yes  False
345  woman       False    F  Southampton   yes   True
356  woman       False    E  Southampton   yes  False
369  woman       False    B    Cherbourg   yes   True
374  child       False  NaN  Southampton    no  False
376  woman       False  NaN  Southampton   yes   True
381  child       False  NaN    Cherbourg   yes  False
389  woman       False  NaN    Cherbourg   yes   True
393  woman       False    D    Cherbourg   yes  False
394  woman       False    G  Southampton   yes  False
399  woman       False  NaN  Southampton   yes   True
402  woman       False  NaN  Southampton    no  False
404  woman       False  NaN  Southampton    no   True
417  woman       False  NaN  Southampton   yes  False
419  child       False  NaN  Southampton    no  False
423  woman       False  NaN  Southampton    no  False
426  woman       False  NaN  Southampton   yes  False
427  woman       False  NaN  Southampton   yes   True
435  child       False    B  Southampton   yes  False
436  woman       False  NaN  Southampton    no  False
437  woman       False  NaN  Southampton   yes  False
443  woman       False  NaN  Southampton   yes   True
446  child       False  NaN  Southampton   yes  False
448  child       False  NaN    Cherbourg   yes  False
469  child       False  NaN    Cherbourg   yes  False
473  woman       False    D    Cherbourg   yes   True
474  woman       False  NaN  Southampton    no   True
479  child       False  NaN  Southampton   yes  False
498  woman       False    C  Southampton    no  False
501  woman       False  NaN   Queenstown    no   True
504  woman       False    B  Southampton   yes   True
530  child       False  NaN  Southampton   yes  False
535  child       False  NaN  Southampton   yes  False
539  woman       False    B    Cherbourg   yes  False
541  child       False  NaN  Southampton    no  False
542  child       False  NaN  Southampton    no  False
546  woman       False  NaN  Southampton   yes  False
554  woman       False  NaN  Southampton   yes   True
567  woman       False  NaN  Southampton    no  False
580  woman       False  NaN  Southampton   yes  False
585  woman       False    E  Southampton   yes  False
600  woman       False  NaN  Southampton   yes  False
608  woman       False  NaN    Cherbourg   yes  False
615  woman       False  NaN  Southampton   yes  False
617  woman       False  NaN  Southampton    no  False
618  child       False    F  Southampton   yes  False
627  woman       False    D  Southampton   yes   True
634  child       False  NaN  Southampton    no  False
635  woman       False  NaN  Southampton   yes   True
641  woman       False    B    Cherbourg   yes   True
642  child       False  NaN  Southampton    no  False
644  child       False  NaN    Cherbourg   yes  False
649  woman       False  NaN  Southampton   yes   True
651  woman       False  NaN  Southampton   yes  False
654  woman       False  NaN   Queenstown    no   True
677  woman       False  NaN  Southampton   yes   True
689  child       False    B  Southampton   yes  False
691  child       False  NaN    Cherbourg   yes  False
700  woman       False    C    Cherbourg   yes  False
702  woman       False  NaN    Cherbourg    no  False
708  woman       False  NaN  Southampton   yes   True
710  woman       False    C    Cherbourg   yes   True
717  woman       False    E  Southampton   yes   True
720  child       False  NaN  Southampton   yes  False
729  woman       False  NaN  Southampton    no  False
730  woman       False    B  Southampton   yes   True
742  woman       False    B    Cherbourg   yes  False
750  child       False  NaN  Southampton   yes  False
777  child       False  NaN  Southampton   yes   True
780  child       False  NaN    Cherbourg   yes   True
781  woman       False    B  Southampton   yes  False
786  woman       False  NaN  Southampton   yes   True
807  woman       False  NaN  Southampton    no   True
813  child       False  NaN  Southampton    no  False
816  woman       False  NaN  Southampton    no   True
823  woman       False    E  Southampton   yes  False
830  child       False  NaN    Cherbourg   yes  False
852  child       False  NaN    Cherbourg    no  False
853  woman       False    D  Southampton   yes  False
855  woman       False  NaN  Southampton   yes  False
858  woman       False  NaN    Cherbourg   yes  False
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
875  child       False  NaN    Cherbourg   yes   True
880  woman       False  NaN  Southampton   yes  False
882  woman       False  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True

In [11]:
print(df[(df["fare"] > 500) | (df["age"] > 70)])

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
96          0       1    male  71.0      0      0   34.6542        C  First
116         0       3    male  70.5      0      0    7.7500        Q  Third
258         1       1  female  35.0      0      0  512.3292        C  First
493         0       1    male  71.0      0      0   49.5042        C  First
630         1       1    male  80.0      0      0   30.0000        S  First
679         1       1    male  36.0      0      1  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
851         0       3    male  74.0      0      0    7.7750        S  Third

       who  adult_male deck  embark_town alive  alone
96     man        True    A    Cherbourg    no   True
116    man        True  NaN   Queenstown    no   True
258  woman       False  NaN    Cherbourg   yes   True
493    man        True  NaN    Cherbourg    no   True
630    man        True    A  Southampton   yes   True
679    man        True    B    Cherbourg   yes  False
737    man        True    B    Cherbourg   yes   True
851    man        True  NaN  Southampton    no   True

In [12]:
missing_values = df.isnull().sum()
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [13]:
df.drop( columns="who", inplace=True)
print(df)

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
0           0       3    male  22.00      1      0    7.2500        S   Third
1           1       1  female  38.00      1      0   71.2833        C   First
2           1       3  female  26.00      0      0    7.9250        S   Third
3           1       1  female  35.00      1      0   53.1000        S   First
4           0       3    male  35.00      0      0    8.0500        S   Third
5           0       3    male    NaN      0      0    8.4583        Q   Third
6           0       1    male  54.00      0      0   51.8625        S   First
7           0       3    male   2.00      3      1   21.0750        S   Third
8           1       3  female  27.00      0      2   11.1333        S   Third
9           1       2  female  14.00      1      0   30.0708        C  Second
10          1       3  female   4.00      1      1   16.7000        S   Third
11          1       1  female  58.00      0      0   26.5500        S   First
12          0       3    male  20.00      0      0    8.0500        S   Third
13          0       3    male  39.00      1      5   31.2750        S   Third
14          0       3  female  14.00      0      0    7.8542        S   Third
15          1       2  female  55.00      0      0   16.0000        S  Second
16          0       3    male   2.00      4      1   29.1250        Q   Third
17          1       2    male    NaN      0      0   13.0000        S  Second
18          0       3  female  31.00      1      0   18.0000        S   Third
19          1       3  female    NaN      0      0    7.2250        C   Third
20          0       2    male  35.00      0      0   26.0000        S  Second
21          1       2    male  34.00      0      0   13.0000        S  Second
22          1       3  female  15.00      0      0    8.0292        Q   Third
23          1       1    male  28.00      0      0   35.5000        S   First
24          0       3  female   8.00      3      1   21.0750        S   Third
25          1       3  female  38.00      1      5   31.3875        S   Third
26          0       3    male    NaN      0      0    7.2250        C   Third
27          0       1    male  19.00      3      2  263.0000        S   First
28          1       3  female    NaN      0      0    7.8792        Q   Third
29          0       3    male    NaN      0      0    7.8958        S   Third
30          0       1    male  40.00      0      0   27.7208        C   First
31          1       1  female    NaN      1      0  146.5208        C   First
32          1       3  female    NaN      0      0    7.7500        Q   Third
33          0       2    male  66.00      0      0   10.5000        S  Second
34          0       1    male  28.00      1      0   82.1708        C   First
35          0       1    male  42.00      1      0   52.0000        S   First
36          1       3    male    NaN      0      0    7.2292        C   Third
37          0       3    male  21.00      0      0    8.0500        S   Third
38          0       3  female  18.00      2      0   18.0000        S   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
40          0       3  female  40.00      1      0    9.4750        S   Third
41          0       2  female  27.00      1      0   21.0000        S  Second
42          0       3    male    NaN      0      0    7.8958        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
44          1       3  female  19.00      0      0    7.8792        Q   Third
45          0       3    male    NaN      0      0    8.0500        S   Third
46          0       3    male    NaN      1      0   15.5000        Q   Third
47          1       3  female    NaN      0      0    7.7500        Q   Third
48          0       3    male    NaN      2      0   21.6792        C   Third
49          0       3  female  18.00      1      0   17.8000        S   Third
50          0       3    male   7.00      4      1   39.6875        S   Third
51          0       3    male  21.00      0      0    7.8000        S   Third
52          1       1  female  49.00      1      0   76.7292        C   First
53          1       2  female  29.00      1      0   26.0000        S  Second
54          0       1    male  65.00      0      1   61.9792        C   First
55          1       1    male    NaN      0      0   35.5000        S   First
56          1       2  female  21.00      0      0   10.5000        S  Second
57          0       3    male  28.50      0      0    7.2292        C   Third
58          1       2  female   5.00      1      2   27.7500        S  Second
59          0       3    male  11.00      5      2   46.9000        S   Third
60          0       3    male  22.00      0      0    7.2292        C   Third
61          1       1  female  38.00      0      0   80.0000      NaN   First
62          0       1    male  45.00      1      0   83.4750        S   First
63          0       3    male   4.00      3      2   27.9000        S   Third
64          0       1    male    NaN      0      0   27.7208        C   First
65          1       3    male    NaN      1      1   15.2458        C   Third
66          1       2  female  29.00      0      0   10.5000        S  Second
67          0       3    male  19.00      0      0    8.1583        S   Third
68          1       3  female  17.00      4      2    7.9250        S   Third
69          0       3    male  26.00      2      0    8.6625        S   Third
70          0       2    male  32.00      0      0   10.5000        S  Second
71          0       3  female  16.00      5      2   46.9000        S   Third
72          0       2    male  21.00      0      0   73.5000        S  Second
73          0       3    male  26.00      1      0   14.4542        C   Third
74          1       3    male  32.00      0      0   56.4958        S   Third
75          0       3    male  25.00      0      0    7.6500        S   Third
76          0       3    male    NaN      0      0    7.8958        S   Third
77          0       3    male    NaN      0      0    8.0500        S   Third
78          1       2    male   0.83      0      2   29.0000        S  Second
79          1       3  female  30.00      0      0   12.4750        S   Third
80          0       3    male  22.00      0      0    9.0000        S   Third
81          1       3    male  29.00      0      0    9.5000        S   Third
82          1       3  female    NaN      0      0    7.7875        Q   Third
83          0       1    male  28.00      0      0   47.1000        S   First
84          1       2  female  17.00      0      0   10.5000        S  Second
85          1       3  female  33.00      3      0   15.8500        S   Third
86          0       3    male  16.00      1      3   34.3750        S   Third
87          0       3    male    NaN      0      0    8.0500        S   Third
88          1       1  female  23.00      3      2  263.0000        S   First
89          0       3    male  24.00      0      0    8.0500        S   Third
90          0       3    male  29.00      0      0    8.0500        S   Third
91          0       3    male  20.00      0      0    7.8542        S   Third
92          0       1    male  46.00      1      0   61.1750        S   First
93          0       3    male  26.00      1      2   20.5750        S   Third
94          0       3    male  59.00      0      0    7.2500        S   Third
95          0       3    male    NaN      0      0    8.0500        S   Third
96          0       1    male  71.00      0      0   34.6542        C   First
97          1       1    male  23.00      0      1   63.3583        C   First
98          1       2  female  34.00      0      1   23.0000        S  Second
99          0       2    male  34.00      1      0   26.0000        S  Second
100         0       3  female  28.00      0      0    7.8958        S   Third
101         0       3    male    NaN      0      0    7.8958        S   Third
102         0       1    male  21.00      0      1   77.2875        S   First
103         0       3    male  33.00      0      0    8.6542        S   Third
104         0       3    male  37.00      2      0    7.9250        S   Third
105         0       3    male  28.00      0      0    7.8958        S   Third
106         1       3  female  21.00      0      0    7.6500        S   Third
107         1       3    male    NaN      0      0    7.7750        S   Third
108         0       3    male  38.00      0      0    7.8958        S   Third
109         1       3  female    NaN      1      0   24.1500        Q   Third
110         0       1    male  47.00      0      0   52.0000        S   First
111         0       3  female  14.50      1      0   14.4542        C   Third
112         0       3    male  22.00      0      0    8.0500        S   Third
113         0       3  female  20.00      1      0    9.8250        S   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
115         0       3    male  21.00      0      0    7.9250        S   Third
116         0       3    male  70.50      0      0    7.7500        Q   Third
117         0       2    male  29.00      1      0   21.0000        S  Second
118         0       1    male  24.00      0      1  247.5208        C   First
119         0       3  female   2.00      4      2   31.2750        S   Third
120         0       2    male  21.00      2      0   73.5000        S  Second
121         0       3    male    NaN      0      0    8.0500        S   Third
122         0       2    male  32.50      1      0   30.0708        C  Second
123         1       2  female  32.50      0      0   13.0000        S  Second
124         0       1    male  54.00      0      1   77.2875        S   First
125         1       3    male  12.00      1      0   11.2417        C   Third
126         0       3    male    NaN      0      0    7.7500        Q   Third
127         1       3    male  24.00      0      0    7.1417        S   Third
128         1       3  female    NaN      1      1   22.3583        C   Third
129         0       3    male  45.00      0      0    6.9750        S   Third
130         0       3    male  33.00      0      0    7.8958        C   Third
131         0       3    male  20.00      0      0    7.0500        S   Third
132         0       3  female  47.00      1      0   14.5000        S   Third
133         1       2  female  29.00      1      0   26.0000        S  Second
134         0       2    male  25.00      0      0   13.0000        S  Second
135         0       2    male  23.00      0      0   15.0458        C  Second
136         1       1  female  19.00      0      2   26.2833        S   First
137         0       1    male  37.00      1      0   53.1000        S   First
138         0       3    male  16.00      0      0    9.2167        S   Third
139         0       1    male  24.00      0      0   79.2000        C   First
140         0       3  female    NaN      0      2   15.2458        C   Third
141         1       3  female  22.00      0      0    7.7500        S   Third
142         1       3  female  24.00      1      0   15.8500        S   Third
143         0       3    male  19.00      0      0    6.7500        Q   Third
144         0       2    male  18.00      0      0   11.5000        S  Second
145         0       2    male  19.00      1      1   36.7500        S  Second
146         1       3    male  27.00      0      0    7.7958        S   Third
147         0       3  female   9.00      2      2   34.3750        S   Third
148         0       2    male  36.50      0      2   26.0000        S  Second
149         0       2    male  42.00      0      0   13.0000        S  Second
150         0       2    male  51.00      0      0   12.5250        S  Second
151         1       1  female  22.00      1      0   66.6000        S   First
152         0       3    male  55.50      0      0    8.0500        S   Third
153         0       3    male  40.50      0      2   14.5000        S   Third
154         0       3    male    NaN      0      0    7.3125        S   Third
155         0       1    male  51.00      0      1   61.3792        C   First
156         1       3  female  16.00      0      0    7.7333        Q   Third
157         0       3    male  30.00      0      0    8.0500        S   Third
158         0       3    male    NaN      0      0    8.6625        S   Third
159         0       3    male    NaN      8      2   69.5500        S   Third
160         0       3    male  44.00      0      1   16.1000        S   Third
161         1       2  female  40.00      0      0   15.7500        S  Second
162         0       3    male  26.00      0      0    7.7750        S   Third
163         0       3    male  17.00      0      0    8.6625        S   Third
164         0       3    male   1.00      4      1   39.6875        S   Third
165         1       3    male   9.00      0      2   20.5250        S   Third
166         1       1  female    NaN      0      1   55.0000        S   First
167         0       3  female  45.00      1      4   27.9000        S   Third
168         0       1    male    NaN      0      0   25.9250        S   First
169         0       3    male  28.00      0      0   56.4958        S   Third
170         0       1    male  61.00      0      0   33.5000        S   First
171         0       3    male   4.00      4      1   29.1250        Q   Third
172         1       3  female   1.00      1      1   11.1333        S   Third
173         0       3    male  21.00      0      0    7.9250        S   Third
174         0       1    male  56.00      0      0   30.6958        C   First
175         0       3    male  18.00      1      1    7.8542        S   Third
176         0       3    male    NaN      3      1   25.4667        S   Third
177         0       1  female  50.00      0      0   28.7125        C   First
178         0       2    male  30.00      0      0   13.0000        S  Second
179         0       3    male  36.00      0      0    0.0000        S   Third
180         0       3  female    NaN      8      2   69.5500        S   Third
181         0       2    male    NaN      0      0   15.0500        C  Second
182         0       3    male   9.00      4      2   31.3875        S   Third
183         1       2    male   1.00      2      1   39.0000        S  Second
184         1       3  female   4.00      0      2   22.0250        S   Third
185         0       1    male    NaN      0      0   50.0000        S   First
186         1       3  female    NaN      1      0   15.5000        Q   Third
187         1       1    male  45.00      0      0   26.5500        S   First
188         0       3    male  40.00      1      1   15.5000        Q   Third
189         0       3    male  36.00      0      0    7.8958        S   Third
190         1       2  female  32.00      0      0   13.0000        S  Second
191         0       2    male  19.00      0      0   13.0000        S  Second
192         1       3  female  19.00      1      0    7.8542        S   Third
193         1       2    male   3.00      1      1   26.0000        S  Second
194         1       1  female  44.00      0      0   27.7208        C   First
195         1       1  female  58.00      0      0  146.5208        C   First
196         0       3    male    NaN      0      0    7.7500        Q   Third
197         0       3    male  42.00      0      1    8.4042        S   Third
198         1       3  female    NaN      0      0    7.7500        Q   Third
199         0       2  female  24.00      0      0   13.0000        S  Second
200         0       3    male  28.00      0      0    9.5000        S   Third
201         0       3    male    NaN      8      2   69.5500        S   Third
202         0       3    male  34.00      0      0    6.4958        S   Third
203         0       3    male  45.50      0      0    7.2250        C   Third
204         1       3    male  18.00      0      0    8.0500        S   Third
205         0       3  female   2.00      0      1   10.4625        S   Third
206         0       3    male  32.00      1      0   15.8500        S   Third
207         1       3    male  26.00      0      0   18.7875        C   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
209         1       1    male  40.00      0      0   31.0000        C   First
210         0       3    male  24.00      0      0    7.0500        S   Third
211         1       2  female  35.00      0      0   21.0000        S  Second
212         0       3    male  22.00      0      0    7.2500        S   Third
213         0       2    male  30.00      0      0   13.0000        S  Second
214         0       3    male    NaN      1      0    7.7500        Q   Third
215         1       1  female  31.00      1      0  113.2750        C   First
216         1       3  female  27.00      0      0    7.9250        S   Third
217         0       2    male  42.00      1      0   27.0000        S  Second
218         1       1  female  32.00      0      0   76.2917        C   First
219         0       2    male  30.00      0      0   10.5000        S  Second
220         1       3    male  16.00      0      0    8.0500        S   Third
221         0       2    male  27.00      0      0   13.0000        S  Second
222         0       3    male  51.00      0      0    8.0500        S   Third
223         0       3    male    NaN      0      0    7.8958        S   Third
224         1       1    male  38.00      1      0   90.0000        S   First
225         0       3    male  22.00      0      0    9.3500        S   Third
226         1       2    male  19.00      0      0   10.5000        S  Second
227         0       3    male  20.50      0      0    7.2500        S   Third
228         0       2    male  18.00      0      0   13.0000        S  Second
229         0       3  female    NaN      3      1   25.4667        S   Third
230         1       1  female  35.00      1      0   83.4750        S   First
231         0       3    male  29.00      0      0    7.7750        S   Third
232         0       2    male  59.00      0      0   13.5000        S  Second
233         1       3  female   5.00      4      2   31.3875        S   Third
234         0       2    male  24.00      0      0   10.5000        S  Second
235         0       3  female    NaN      0      0    7.5500        S   Third
236         0       2    male  44.00      1      0   26.0000        S  Second
237         1       2  female   8.00      0      2   26.2500        S  Second
238         0       2    male  19.00      0      0   10.5000        S  Second
239         0       2    male  33.00      0      0   12.2750        S  Second
240         0       3  female    NaN      1      0   14.4542        C   Third
241         1       3  female    NaN      1      0   15.5000        Q   Third
242         0       2    male  29.00      0      0   10.5000        S  Second
243         0       3    male  22.00      0      0    7.1250        S   Third
244         0       3    male  30.00      0      0    7.2250        C   Third
245         0       1    male  44.00      2      0   90.0000        Q   First
246         0       3  female  25.00      0      0    7.7750        S   Third
247         1       2  female  24.00      0      2   14.5000        S  Second
248         1       1    male  37.00      1      1   52.5542        S   First
249         0       2    male  54.00      1      0   26.0000        S  Second
250         0       3    male    NaN      0      0    7.2500        S   Third
251         0       3  female  29.00      1      1   10.4625        S   Third
252         0       1    male  62.00      0      0   26.5500        S   First
253         0       3    male  30.00      1      0   16.1000        S   Third
254         0       3  female  41.00      0      2   20.2125        S   Third

In [14]:
deck_mode = df["deck"].mode()[0]
df["deck"] = df["deck"].fillna(deck_mode)
print(df["deck"].isnull().values.any())

False

In [15]:
age_median = df["age"].median()
df["age"] = df["age"].fillna(age_median)
print(df["age"].isnull().values.any())

False

In [16]:
survived_stats = df.groupby(["pclass", "sex"])["survived"].agg(["sum", "count", "mean"])
print(survived_stats)

               sum  count      mean
pclass sex
1      female   91     94  0.968085
       male     45    122  0.368852
2      female   70     76  0.921053
       male     17    108  0.157407
3      female   72    144  0.500000
       male     47    347  0.135447

In [17]:
df["flag"] = df["age"].apply( lambda x: 1 if x < 30 else 0)
print(df["flag"])

0      1
1      0
2      1
3      0
4      0
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     0
14     1
15     0
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     0
26     1
27     1
28     1
29     1
30     0
31     1
32     1
33     0
34     1
35     0
36     1
37     1
38     1
39     1
40     0
41     1
42     1
43     1
44     1
45     1
46     1
47     1
48     1
49     1
50     1
51     1
52     0
53     1
54     0
55     1
56     1
57     1
58     1
59     1
60     1
61     0
62     0
63     1
64     1
65     1
66     1
67     1
68     1
69     1
70     0
71     1
72     1
73     1
74     0
75     1
76     1
77     1
78     1
79     0
80     1
81     1
82     1
83     1
84     1
85     0
86     1
87     1
88     1
89     1
90     1
91     1
92     0
93     1
94     0
95     1
96     0
97     1
98     0
99     0
100    1
101    1
102    1
103    0
104    0
105    1
106    1
107    1
108    0
109    1
110    0
111    1
112    1
113    1
114    1
115    1
116    0
117    1
118    1
119    1
120    1
121    1
122    0
123    0
124    0
125    1
126    1
127    1
128    1
129    0
130    0
131    1
132    0
133    1
134    1
135    1
136    1
137    0
138    1
139    1
140    1
141    1
142    1
143    1
144    1
145    1
146    1
147    1
148    0
149    0
150    0
151    1
152    0
153    0
154    1
155    0
156    1
157    0
158    1
159    1
160    0
161    0
162    1
163    1
164    1
165    1
166    1
167    0
168    1
169    1
170    0
171    1
172    1
173    1
174    0
175    1
176    1
177    0
178    0
179    0
180    1
181    1
182    1
183    1
184    1
185    1
186    1
187    0
188    0
189    0
190    0
191    1
192    1
193    1
194    0
195    0
196    1
197    0
198    1
199    1
200    1
201    1
202    0
203    0
204    1
205    1
206    0
207    1
208    1
209    0
210    1
211    0
212    1
213    0
214    1
215    0
216    1
217    0
218    0
219    0
220    1
221    1
222    0
223    1
224    0
225    1
226    1
227    1
228    1
229    1
230    0
231    1
232    0
233    1
234    1
235    1
236    0
237    1
238    1
239    0
240    1
241    1
242    1
243    1
244    0
245    0
246    1
247    1
248    0
249    0
250    1
251    1
252    0
253    0
254    0
255    1
256    1
257    0
258    0
259    0
260    1
261    1
262    0
263    0
264    1
265    0
266    1
267    1
268    0
269    0
270    1
271    1
272    0
273    0
274    1
275    0
276    0
277    1
278    1
279    0
280    0
281    1
282    1
283    1
284    1
285    0
286    0
287    1
288    0
289    1
290    1
291    1
292    0
293    1
294    1
295    1
296    1
297    1
298    1
299    0
300    1
301    1
302    1
303    1
304    1
305    1
306    1
307    1
308    0
309    0
310    1
311    1
312    1
313    1
314    0
315    1
316    1
317    0
318    0
319    0
320    1
321    1
322    0
323    1
324    1
325    0
326    0
327    0
328    0
329    1
330    1
331    0
332    0
333    1
334    1
335    1
336    1
337    0
338    0
339    0
340    1
341    1
342    1
343    1
344    0
345    1
346    0
347    1
348    1
349    0
350    1
351    1
352    1
353    1
354    1
355    1
356    1
357    0
358    1
359    1
360    0
361    1
362    0
363    0
364    1
365    0
366    0
367    1
368    1
369    1
370    1
371    1
372    1
373    1
374    1
375    1
376    1
377    1
378    1
379    1
380    0
381    1
382    0
383    0
384    1
385    1
386    1
387    0
388    1
389    1
390    0
391    1
392    1
393    1
394    1
395    1
396    0
397    0
398    1
399    1
400    0
401    1
402    1
403    1
404    1
405    0
406    0
407    1
408    1
409    1
410    1
411    1
412    0
413    1
414    0
415    1
416    0
417    1
418    0
419    1
420    1
421    1
422    1
423    1
424    1
425    1
426    1
427    1
428    1
429    0
430    1
431    1
432    0
433    1
434    0
435    1
436    1
437    1
438    0
439    0
440    0
441    1
442    1
443    1
444    1
445    1
446    1
447    0
448    1
449    0
450    0
451    1
452    0
453    0
454    1
455    1
456    0
457    1
458    0
459    1
460    0
461    0
462    0
463    0
464    1
465    0
466    1
467    0
468    1
469    1
470    1
471    0
472    0
473    1
474    1
475    1
476    0
477    1
478    1
479    1
480    1
481    1
482    0
483    0
484    1
485    1
486    0
487    0
488    0
489    1
490    1
491    1
492    0
493    0
494    1
495    1
496    0
497    1
498    1
499    1
500    1
501    1
502    1
503    0
504    1
505    1
506    0
507    1
508    1
509    1
510    1
511    1
512    0
513    0
514    1
515    0
516    0
517    1
518    0
519    0
520    0
521    1
522    1
523    0
524    1
525    0
526    0
527    1
528    0
529    1
530    1
531    1
532    1
533    1
534    0
535    1
536    0
537    0
538    1
539    1
540    0
541    1
542    1
543    0
544    0
545    0
546    1
547    1
548    0
549    1
550    1
551    1
552    1
553    1
554    1
555    0
556    0
557    1
558    0
559    0
560    1
561    0
562    1
563    1
564    1
565    1
566    1
567    1
568    1
569    0
570    0
571    0
572    0
573    1
574    1
575    1
576    0
577    0
578    1
579    0
580    1
581    0
582    0
583    0
584    1
585    1
586    0
587    0
588    1
589    1
590    0
591    0
592    0
593    1
594    0
595    0
596    1
597    0
598    1
599    0
600    1
601    1
602    1
603    0
604    0
605    0
606    0
607    1
608    1
609    0
610    0
611    1
612    1
613    1
614    0
615    1
616    0
617    1
618    1
619    1
620    1
621    0
622    1
623    1
624    1
625    0
626    0
627    1
628    1
629    1
630    0
631    0
632    0
633    1
634    1
635    1
636    0
637    0
638    0
639    1
640    1
641    1
642    1
643    1
644    1
645    0
646    1
647    0
648    1
649    1
650    1
651    1
652    1
653    1
654    1
655    1
656    1
657    0
658    1
659    0
660    0
661    0
662    0
663    0
664    1
665    0
666    1
667    1
668    0
669    1
670    0
671    0
672    0
673    0
674    1
675    1
676    1
677    1
678    0
679    0
680    1
681    1
682    1
683    1
684    0
685    1
686    1
687    1
688    1
689    1
690    0
691    1
692    1
693    1
694    0
695    0
696    0
697    1
698    0
699    0
700    1
701    0
702    1
703    1
704    1
705    0
706    0
707    0
708    1
709    1
710    1
711    1
712    0
713    1
714    0
715    1
716    0
717    1
718    1
719    0
720    1
721    1
722    0
723    0
724    1
725    1
726    0
727    1
728    1
729    1
730    1
731    1
732    1
733    1
734    1
735    1
736    0
737    0
738    1
739    1
740    1
741    0
742    1
743    1
744    0
745    0
746    1
747    0
748    1
749    0
750    1
751    1
752    0
753    1
754    0
755    1
756    1
757    1
758    0
759    0
760    1
761    0
762    1
763    0
764    1
765    0
766    1
767    0
768    1
769    0
770    1
771    0
772    0
773    1
774    0
775    1
776    1
777    1
778    1
779    0
780    1
781    1
782    1
783    1
784    1
785    1
786    1
787    1
788    1
789    0
790    1
791    1
792    1
793    1
794    1
795    0
796    0
797    0
798    0
799    0
800    0
801    0
802    1
803    1
804    1
805    0
806    0
807    1
808    0
809    0
810    1
811    0
812    0
813    1
814    0
815    1
816    1
817    0
818    0
819    1
820    0
821    1
822    0
823    1
824    1
825    1
826    1
827    1
828    1
829    0
830    1
831    1
832    1
833    1
834    1
835    0
836    1
837    1
838    0
839    1
840    1
841    1
842    0
843    0
844    1
845    0
846    1
847    0
848    1
849    1
850    1
851    0
852    1
853    1
854    0
855    1
856    0
857    0
858    1
859    1
860    0
861    1
862    0
863    1
864    1
865    0
866    1
867    0
868    1
869    1
870    1
871    0
872    0
873    0
874    1
875    1
876    1
877    1
878    1
879    0
880    1
881    0
882    1
883    1
884    1
885    0
886    1
887    1
888    1
889    1
890    0
Name: flag, dtype: int64

In [18]:
df2 = sns.load_dataset("tips")
print(df2)

     total_bill    tip     sex smoker   day    time  size
0         16.99   1.01  Female     No   Sun  Dinner     2
1         10.34   1.66    Male     No   Sun  Dinner     3
2         21.01   3.50    Male     No   Sun  Dinner     3
3         23.68   3.31    Male     No   Sun  Dinner     2
4         24.59   3.61  Female     No   Sun  Dinner     4
5         25.29   4.71    Male     No   Sun  Dinner     4
6          8.77   2.00    Male     No   Sun  Dinner     2
7         26.88   3.12    Male     No   Sun  Dinner     4
8         15.04   1.96    Male     No   Sun  Dinner     2
9         14.78   3.23    Male     No   Sun  Dinner     2
10        10.27   1.71    Male     No   Sun  Dinner     2
11        35.26   5.00  Female     No   Sun  Dinner     4
12        15.42   1.57    Male     No   Sun  Dinner     2
13        18.43   3.00    Male     No   Sun  Dinner     4
14        14.83   3.02  Female     No   Sun  Dinner     2
15        21.58   3.92    Male     No   Sun  Dinner     2
16        10.33   1.67  Female     No   Sun  Dinner     3
17        16.29   3.71    Male     No   Sun  Dinner     3
18        16.97   3.50  Female     No   Sun  Dinner     3
19        20.65   3.35    Male     No   Sat  Dinner     3
20        17.92   4.08    Male     No   Sat  Dinner     2
21        20.29   2.75  Female     No   Sat  Dinner     2
22        15.77   2.23  Female     No   Sat  Dinner     2
23        39.42   7.58    Male     No   Sat  Dinner     4
24        19.82   3.18    Male     No   Sat  Dinner     2
25        17.81   2.34    Male     No   Sat  Dinner     4
26        13.37   2.00    Male     No   Sat  Dinner     2
27        12.69   2.00    Male     No   Sat  Dinner     2
28        21.70   4.30    Male     No   Sat  Dinner     2
29        19.65   3.00  Female     No   Sat  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
31        18.35   2.50    Male     No   Sat  Dinner     4
32        15.06   3.00  Female     No   Sat  Dinner     2
33        20.69   2.45  Female     No   Sat  Dinner     4
34        17.78   3.27    Male     No   Sat  Dinner     2
35        24.06   3.60    Male     No   Sat  Dinner     3
36        16.31   2.00    Male     No   Sat  Dinner     3
37        16.93   3.07  Female     No   Sat  Dinner     3
38        18.69   2.31    Male     No   Sat  Dinner     3
39        31.27   5.00    Male     No   Sat  Dinner     3
40        16.04   2.24    Male     No   Sat  Dinner     3
41        17.46   2.54    Male     No   Sun  Dinner     2
42        13.94   3.06    Male     No   Sun  Dinner     2
43         9.68   1.32    Male     No   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
45        18.29   3.00    Male     No   Sun  Dinner     2
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
48        28.55   2.05    Male     No   Sun  Dinner     3
49        18.04   3.00    Male     No   Sun  Dinner     2
50        12.54   2.50    Male     No   Sun  Dinner     2
51        10.29   2.60  Female     No   Sun  Dinner     2
52        34.81   5.20  Female     No   Sun  Dinner     4
53         9.94   1.56    Male     No   Sun  Dinner     2
54        25.56   4.34    Male     No   Sun  Dinner     4
55        19.49   3.51    Male     No   Sun  Dinner     2
56        38.01   3.00    Male    Yes   Sat  Dinner     4
57        26.41   1.50  Female     No   Sat  Dinner     2
58        11.24   1.76    Male    Yes   Sat  Dinner     2
59        48.27   6.73    Male     No   Sat  Dinner     4
60        20.29   3.21    Male    Yes   Sat  Dinner     2
61        13.81   2.00    Male    Yes   Sat  Dinner     2
62        11.02   1.98    Male    Yes   Sat  Dinner     2
63        18.29   3.76    Male    Yes   Sat  Dinner     4
64        17.59   2.64    Male     No   Sat  Dinner     3
65        20.08   3.15    Male     No   Sat  Dinner     3
66        16.45   2.47  Female     No   Sat  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1
68        20.23   2.01    Male     No   Sat  Dinner     2
69        15.01   2.09    Male    Yes   Sat  Dinner     2
70        12.02   1.97    Male     No   Sat  Dinner     2
71        17.07   3.00  Female     No   Sat  Dinner     3
72        26.86   3.14  Female    Yes   Sat  Dinner     2
73        25.28   5.00  Female    Yes   Sat  Dinner     2
74        14.73   2.20  Female     No   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
76        17.92   3.08    Male    Yes   Sat  Dinner     2
77        27.20   4.00    Male     No  Thur   Lunch     4
78        22.76   3.00    Male     No  Thur   Lunch     2
79        17.29   2.71    Male     No  Thur   Lunch     2
80        19.44   3.00    Male    Yes  Thur   Lunch     2
81        16.66   3.40    Male     No  Thur   Lunch     2
82        10.07   1.83  Female     No  Thur   Lunch     1
83        32.68   5.00    Male    Yes  Thur   Lunch     2
84        15.98   2.03    Male     No  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
86        13.03   2.00    Male     No  Thur   Lunch     2
87        18.28   4.00    Male     No  Thur   Lunch     2
88        24.71   5.85    Male     No  Thur   Lunch     2
89        21.16   3.00    Male     No  Thur   Lunch     2
90        28.97   3.00    Male    Yes   Fri  Dinner     2
91        22.49   3.50    Male     No   Fri  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
93        16.32   4.30  Female    Yes   Fri  Dinner     2
94        22.75   3.25  Female     No   Fri  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
96        27.28   4.00    Male    Yes   Fri  Dinner     2
97        12.03   1.50    Male    Yes   Fri  Dinner     2
98        21.01   3.00    Male    Yes   Fri  Dinner     2
99        12.46   1.50    Male     No   Fri  Dinner     2
100       11.35   2.50  Female    Yes   Fri  Dinner     2
101       15.38   3.00  Female    Yes   Fri  Dinner     2
102       44.30   2.50  Female    Yes   Sat  Dinner     3
103       22.42   3.48  Female    Yes   Sat  Dinner     2
104       20.92   4.08  Female     No   Sat  Dinner     2
105       15.36   1.64    Male    Yes   Sat  Dinner     2
106       20.49   4.06    Male    Yes   Sat  Dinner     2
107       25.21   4.29    Male    Yes   Sat  Dinner     2
108       18.24   3.76    Male     No   Sat  Dinner     2
109       14.31   4.00  Female    Yes   Sat  Dinner     2
110       14.00   3.00    Male     No   Sat  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
112       38.07   4.00    Male     No   Sun  Dinner     3
113       23.95   2.55    Male     No   Sun  Dinner     2
114       25.71   4.00  Female     No   Sun  Dinner     3
115       17.31   3.50  Female     No   Sun  Dinner     2
116       29.93   5.07    Male     No   Sun  Dinner     4
117       10.65   1.50  Female     No  Thur   Lunch     2
118       12.43   1.80  Female     No  Thur   Lunch     2
119       24.08   2.92  Female     No  Thur   Lunch     4
120       11.69   2.31    Male     No  Thur   Lunch     2
121       13.42   1.68  Female     No  Thur   Lunch     2
122       14.26   2.50    Male     No  Thur   Lunch     2
123       15.95   2.00    Male     No  Thur   Lunch     2
124       12.48   2.52  Female     No  Thur   Lunch     2
125       29.80   4.20  Female     No  Thur   Lunch     6
126        8.52   1.48    Male     No  Thur   Lunch     2
127       14.52   2.00  Female     No  Thur   Lunch     2
128       11.38   2.00  Female     No  Thur   Lunch     2
129       22.82   2.18    Male     No  Thur   Lunch     3
130       19.08   1.50    Male     No  Thur   Lunch     2
131       20.27   2.83  Female     No  Thur   Lunch     2
132       11.17   1.50  Female     No  Thur   Lunch     2
133       12.26   2.00  Female     No  Thur   Lunch     2
134       18.26   3.25  Female     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
136       10.33   2.00  Female     No  Thur   Lunch     2
137       14.15   2.00  Female     No  Thur   Lunch     2
138       16.00   2.00    Male    Yes  Thur   Lunch     2
139       13.16   2.75  Female     No  Thur   Lunch     2
140       17.47   3.50  Female     No  Thur   Lunch     2
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
144       16.43   2.30  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
146       18.64   1.36  Female     No  Thur   Lunch     3
147       11.87   1.63  Female     No  Thur   Lunch     2
148        9.78   1.73    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2
150       14.07   2.50    Male     No   Sun  Dinner     2
151       13.13   2.00    Male     No   Sun  Dinner     2
152       17.26   2.74    Male     No   Sun  Dinner     3
153       24.55   2.00    Male     No   Sun  Dinner     4
154       19.77   2.00    Male     No   Sun  Dinner     4
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
157       25.00   3.75  Female     No   Sun  Dinner     4
158       13.39   2.61  Female     No   Sun  Dinner     2
159       16.49   2.00    Male     No   Sun  Dinner     4
160       21.50   3.50    Male     No   Sun  Dinner     4
161       12.66   2.50    Male     No   Sun  Dinner     2
162       16.21   2.00  Female     No   Sun  Dinner     3
163       13.81   2.00    Male     No   Sun  Dinner     2
164       17.51   3.00  Female    Yes   Sun  Dinner     2
165       24.52   3.48    Male     No   Sun  Dinner     3
166       20.76   2.24    Male     No   Sun  Dinner     2
167       31.71   4.50    Male     No   Sun  Dinner     4
168       10.59   1.61  Female    Yes   Sat  Dinner     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
170       50.81  10.00    Male    Yes   Sat  Dinner     3
171       15.81   3.16    Male    Yes   Sat  Dinner     2
172        7.25   5.15    Male    Yes   Sun  Dinner     2
173       31.85   3.18    Male    Yes   Sun  Dinner     2
174       16.82   4.00    Male    Yes   Sun  Dinner     2
175       32.90   3.11    Male    Yes   Sun  Dinner     2
176       17.89   2.00    Male    Yes   Sun  Dinner     2
177       14.48   2.00    Male    Yes   Sun  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
179       34.63   3.55    Male    Yes   Sun  Dinner     2
180       34.65   3.68    Male    Yes   Sun  Dinner     4
181       23.33   5.65    Male    Yes   Sun  Dinner     2
182       45.35   3.50    Male    Yes   Sun  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
184       40.55   3.00    Male    Yes   Sun  Dinner     2
185       20.69   5.00    Male     No   Sun  Dinner     5
186       20.90   3.50  Female    Yes   Sun  Dinner     3
187       30.46   2.00    Male    Yes   Sun  Dinner     5
188       18.15   3.50  Female    Yes   Sun  Dinner     3
189       23.10   4.00    Male    Yes   Sun  Dinner     3
190       15.69   1.50    Male    Yes   Sun  Dinner     2
191       19.81   4.19  Female    Yes  Thur   Lunch     2
192       28.44   2.56    Male    Yes  Thur   Lunch     2
193       15.48   2.02    Male    Yes  Thur   Lunch     2
194       16.58   4.00    Male    Yes  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
196       10.34   2.00    Male    Yes  Thur   Lunch     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
198       13.00   2.00  Female    Yes  Thur   Lunch     2
199       13.51   2.00    Male    Yes  Thur   Lunch     2
200       18.71   4.00    Male    Yes  Thur   Lunch     3
201       12.74   2.01  Female    Yes  Thur   Lunch     2
202       13.00   2.00  Female    Yes  Thur   Lunch     2
203       16.40   2.50  Female    Yes  Thur   Lunch     2
204       20.53   4.00    Male    Yes  Thur   Lunch     4
205       16.47   3.23  Female    Yes  Thur   Lunch     3
206       26.59   3.41    Male    Yes   Sat  Dinner     3
207       38.73   3.00    Male    Yes   Sat  Dinner     4
208       24.27   2.03    Male    Yes   Sat  Dinner     2
209       12.76   2.23  Female    Yes   Sat  Dinner     2
210       30.06   2.00    Male    Yes   Sat  Dinner     3
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
213       13.27   2.50  Female    Yes   Sat  Dinner     2
214       28.17   6.50  Female    Yes   Sat  Dinner     3
215       12.90   1.10  Female    Yes   Sat  Dinner     2
216       28.15   3.00    Male    Yes   Sat  Dinner     5
217       11.59   1.50    Male    Yes   Sat  Dinner     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
219       30.14   3.09  Female    Yes   Sat  Dinner     4
220       12.16   2.20    Male    Yes   Fri   Lunch     2
221       13.42   3.48  Female    Yes   Fri   Lunch     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
223       15.98   3.00  Female     No   Fri   Lunch     3
224       13.42   1.58    Male    Yes   Fri   Lunch     2
225       16.27   2.50  Female    Yes   Fri   Lunch     2
226       10.09   2.00  Female    Yes   Fri   Lunch     2
227       20.45   3.00    Male     No   Sat  Dinner     4
228       13.28   2.72    Male     No   Sat  Dinner     2
229       22.12   2.88  Female    Yes   Sat  Dinner     2
230       24.01   2.00    Male    Yes   Sat  Dinner     4
231       15.69   3.00    Male    Yes   Sat  Dinner     3
232       11.61   3.39    Male     No   Sat  Dinner     2
233       10.77   1.47    Male     No   Sat  Dinner     2
234       15.53   3.00    Male    Yes   Sat  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
236       12.60   1.00    Male    Yes   Sat  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
238       35.83   4.67  Female     No   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3
240       27.18   2.00  Female    Yes   Sat  Dinner     2
241       22.67   2.00    Male    Yes   Sat  Dinner     2
242       17.82   1.75    Male     No   Sat  Dinner     2
243       18.78   3.00  Female     No  Thur  Dinner     2

In [19]:
total_bill_by_time_variables = df2.groupby(["time"])["total_bill"].agg(["sum", "min", "max", "mean" ])
print(total_bill_by_time_variables)

            sum   min    max       mean
time
Lunch   1167.47  7.51  43.11  17.168676
Dinner  3660.30  3.07  50.81  20.797159

/tmp/ipykernel_18/2366885177.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_bill_by_time_variables = df2.groupby(["time"])["total_bill"].agg(["sum", "min", "max", "mean" ])

In [20]:
total_bill_by_time_and_day = df2.groupby(["time", "day"])["total_bill"].agg(["sum", "min", "max", "mean"])
print(total_bill_by_time_and_day)

                 sum    min    max       mean
time   day
Lunch  Thur  1077.55   7.51  43.11  17.664754
       Fri     89.92   8.58  16.27  12.845714
       Sat      0.00    NaN    NaN        NaN
       Sun      0.00    NaN    NaN        NaN
Dinner Thur    18.78  18.78  18.78  18.780000
       Fri    235.96   5.75  40.17  19.663333
       Sat   1778.40   3.07  50.81  20.441379
       Sun   1627.16   7.25  48.17  21.410000

/tmp/ipykernel_18/598277768.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_bill_by_time_and_day = df2.groupby(["time", "day"])["total_bill"].agg(["sum", "min", "max", "mean"])

In [21]:
filtered_total_bill_by_female_and_lunch = df2[(df2["time"] == "Lunch") & (df2["sex"] == "Female")]
total_bill_by_female_and_lunch = filtered_total_bill_by_female_and_lunch.groupby(["day"])["total_bill"].agg(["sum", "min", "max", "mean"])
print(total_bill_by_female_and_lunch)

         sum    min    max      mean
day
Thur  516.11   8.35  43.11  16.64871
Fri    55.76  10.09  16.27  13.94000
Sat     0.00    NaN    NaN       NaN
Sun     0.00    NaN    NaN       NaN

/tmp/ipykernel_18/1192170283.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_bill_by_female_and_lunch = filtered_total_bill_by_female_and_lunch.groupby(["day"])["total_bill"].agg(["sum", "min", "max", "mean"])

In [22]:
filtered_df_by_size_and_total_bill = df2.loc[(df2["size"] < 3) & (df2["total_bill"] > 10)]
print(filtered_df_by_size_and_total_bill["total_bill"].mean())

17.184965034965035

In [23]:
df2["total_bill_tip_sum"] = df2["total_bill"] + df2["tip"]
print(df2["total_bill_tip_sum"])

0      18.00
1      12.00
2      24.51
3      26.99
4      28.20
5      30.00
6      10.77
7      30.00
8      17.00
9      18.01
10     11.98
11     40.26
12     16.99
13     21.43
14     17.85
15     25.50
16     12.00
17     20.00
18     20.47
19     24.00
20     22.00
21     23.04
22     18.00
23     47.00
24     23.00
25     20.15
26     15.37
27     14.69
28     26.00
29     22.65
30     11.00
31     20.85
32     18.06
33     23.14
34     21.05
35     27.66
36     18.31
37     20.00
38     21.00
39     36.27
40     18.28
41     20.00
42     17.00
43     11.00
44     36.00
45     21.29
46     27.23
47     38.40
48     30.60
49     21.04
50     15.04
51     12.89
52     40.01
53     11.50
54     29.90
55     23.00
56     41.01
57     27.91
58     13.00
59     55.00
60     23.50
61     15.81
62     13.00
63     22.05
64     20.23
65     23.23
66     18.92
67      4.07
68     22.24
69     17.10
70     13.99
71     20.07
72     30.00
73     30.28
74     16.93
75     11.76
76     21.00
77     31.20
78     25.76
79     20.00
80     22.44
81     20.06
82     11.90
83     37.68
84     18.01
85     40.00
86     15.03
87     22.28
88     30.56
89     24.16
90     31.97
91     25.99
92      6.75
93     20.62
94     26.00
95     44.90
96     31.28
97     13.53
98     24.01
99     13.96
100    13.85
101    18.38
102    46.80
103    25.90
104    25.00
105    17.00
106    24.55
107    29.50
108    22.00
109    18.31
110    17.00
111     8.25
112    42.07
113    26.50
114    29.71
115    20.81
116    35.00
117    12.15
118    14.23
119    27.00
120    14.00
121    15.10
122    16.76
123    17.95
124    15.00
125    34.00
126    10.00
127    16.52
128    13.38
129    25.00
130    20.58
131    23.10
132    12.67
133    14.26
134    21.51
135     9.76
136    12.33
137    16.15
138    18.00
139    15.91
140    20.97
141    41.00
142    46.19
143    32.05
144    18.73
145     9.85
146    20.00
147    13.50
148    11.51
149     9.51
150    16.57
151    15.13
152    20.00
153    26.55
154    21.77
155    34.99
156    53.17
157    28.75
158    16.00
159    18.49
160    25.00
161    15.16
162    18.21
163    15.81
164    20.51
165    28.00
166    23.00
167    36.21
168    12.20
169    12.63
170    60.81
171    18.97
172    12.40
173    35.03
174    20.82
175    36.01
176    19.89
177    16.48
178    13.60
179    38.18
180    38.33
181    28.98
182    48.85
183    29.67
184    43.55
185    25.69
186    24.40
187    32.46
188    21.65
189    27.10
190    17.19
191    24.00
192    31.00
193    17.50
194    20.58
195     9.00
196    12.34
197    48.11
198    15.00
199    15.51
200    22.71
201    14.75
202    15.00
203    18.90
204    24.53
205    19.70
206    30.00
207    41.73
208    26.30
209    14.99
210    32.06
211    31.05
212    57.33
213    15.77
214    34.67
215    14.00
216    31.15
217    13.09
218     9.18
219    33.23
220    14.36
221    16.90
222    10.50
223    18.98
224    15.00
225    18.77
226    12.09
227    23.45
228    16.00
229    25.00
230    26.01
231    18.69
232    15.00
233    12.24
234    18.53
235    11.32
236    13.60
237    34.00
238    40.50
239    34.95
240    29.18
241    24.67
242    19.57
243    21.78
Name: total_bill_tip_sum, dtype: float64

In [24]:
sorted_by_total_bill_tip_sum = df2.sort_values("total_bill_tip_sum")
print(sorted_by_total_bill_tip_sum)
new_df = df2.loc[0:29]
print(new_df)

     total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
67         3.07   1.00  Female    Yes   Sat  Dinner     1                4.07
92         5.75   1.00  Female    Yes   Fri  Dinner     2                6.75
111        7.25   1.00  Female     No   Sat  Dinner     1                8.25
195        7.56   1.44    Male     No  Thur   Lunch     2                9.00
218        7.74   1.44    Male    Yes   Sat  Dinner     2                9.18
149        7.51   2.00    Male     No  Thur   Lunch     2                9.51
135        8.51   1.25  Female     No  Thur   Lunch     2                9.76
145        8.35   1.50  Female     No  Thur   Lunch     2                9.85
126        8.52   1.48    Male     No  Thur   Lunch     2               10.00
222        8.58   1.92    Male    Yes   Fri   Lunch     1               10.50
6          8.77   2.00    Male     No   Sun  Dinner     2               10.77
30         9.55   1.45    Male     No   Sat  Dinner     2               11.00
43         9.68   1.32    Male     No   Sun  Dinner     2               11.00
235       10.07   1.25    Male     No   Sat  Dinner     2               11.32
53         9.94   1.56    Male     No   Sun  Dinner     2               11.50
148        9.78   1.73    Male     No  Thur   Lunch     2               11.51
75        10.51   1.25    Male     No   Sat  Dinner     2               11.76
82        10.07   1.83  Female     No  Thur   Lunch     1               11.90
10        10.27   1.71    Male     No   Sun  Dinner     2               11.98
1         10.34   1.66    Male     No   Sun  Dinner     3               12.00
16        10.33   1.67  Female     No   Sun  Dinner     3               12.00
226       10.09   2.00  Female    Yes   Fri   Lunch     2               12.09
117       10.65   1.50  Female     No  Thur   Lunch     2               12.15
168       10.59   1.61  Female    Yes   Sat  Dinner     2               12.20
233       10.77   1.47    Male     No   Sat  Dinner     2               12.24
136       10.33   2.00  Female     No  Thur   Lunch     2               12.33
196       10.34   2.00    Male    Yes  Thur   Lunch     2               12.34
172        7.25   5.15    Male    Yes   Sun  Dinner     2               12.40
169       10.63   2.00  Female    Yes   Sat  Dinner     2               12.63
132       11.17   1.50  Female     No  Thur   Lunch     2               12.67
51        10.29   2.60  Female     No   Sun  Dinner     2               12.89
58        11.24   1.76    Male    Yes   Sat  Dinner     2               13.00
62        11.02   1.98    Male    Yes   Sat  Dinner     2               13.00
217       11.59   1.50    Male    Yes   Sat  Dinner     2               13.09
128       11.38   2.00  Female     No  Thur   Lunch     2               13.38
147       11.87   1.63  Female     No  Thur   Lunch     2               13.50
97        12.03   1.50    Male    Yes   Fri  Dinner     2               13.53
236       12.60   1.00    Male    Yes   Sat  Dinner     2               13.60
178        9.60   4.00  Female    Yes   Sun  Dinner     2               13.60
100       11.35   2.50  Female    Yes   Fri  Dinner     2               13.85
99        12.46   1.50    Male     No   Fri  Dinner     2               13.96
70        12.02   1.97    Male     No   Sat  Dinner     2               13.99
120       11.69   2.31    Male     No  Thur   Lunch     2               14.00
215       12.90   1.10  Female    Yes   Sat  Dinner     2               14.00
118       12.43   1.80  Female     No  Thur   Lunch     2               14.23
133       12.26   2.00  Female     No  Thur   Lunch     2               14.26
220       12.16   2.20    Male    Yes   Fri   Lunch     2               14.36
27        12.69   2.00    Male     No   Sat  Dinner     2               14.69
201       12.74   2.01  Female    Yes  Thur   Lunch     2               14.75
209       12.76   2.23  Female    Yes   Sat  Dinner     2               14.99
198       13.00   2.00  Female    Yes  Thur   Lunch     2               15.00
124       12.48   2.52  Female     No  Thur   Lunch     2               15.00
202       13.00   2.00  Female    Yes  Thur   Lunch     2               15.00
224       13.42   1.58    Male    Yes   Fri   Lunch     2               15.00
232       11.61   3.39    Male     No   Sat  Dinner     2               15.00
86        13.03   2.00    Male     No  Thur   Lunch     2               15.03
50        12.54   2.50    Male     No   Sun  Dinner     2               15.04
121       13.42   1.68  Female     No  Thur   Lunch     2               15.10
151       13.13   2.00    Male     No   Sun  Dinner     2               15.13
161       12.66   2.50    Male     No   Sun  Dinner     2               15.16
26        13.37   2.00    Male     No   Sat  Dinner     2               15.37
199       13.51   2.00    Male    Yes  Thur   Lunch     2               15.51
213       13.27   2.50  Female    Yes   Sat  Dinner     2               15.77
61        13.81   2.00    Male    Yes   Sat  Dinner     2               15.81
163       13.81   2.00    Male     No   Sun  Dinner     2               15.81
139       13.16   2.75  Female     No  Thur   Lunch     2               15.91
158       13.39   2.61  Female     No   Sun  Dinner     2               16.00
228       13.28   2.72    Male     No   Sat  Dinner     2               16.00
137       14.15   2.00  Female     No  Thur   Lunch     2               16.15
177       14.48   2.00    Male    Yes   Sun  Dinner     2               16.48
127       14.52   2.00  Female     No  Thur   Lunch     2               16.52
150       14.07   2.50    Male     No   Sun  Dinner     2               16.57
122       14.26   2.50    Male     No  Thur   Lunch     2               16.76
221       13.42   3.48  Female    Yes   Fri   Lunch     2               16.90
74        14.73   2.20  Female     No   Sat  Dinner     2               16.93
12        15.42   1.57    Male     No   Sun  Dinner     2               16.99
8         15.04   1.96    Male     No   Sun  Dinner     2               17.00
105       15.36   1.64    Male    Yes   Sat  Dinner     2               17.00
42        13.94   3.06    Male     No   Sun  Dinner     2               17.00
110       14.00   3.00    Male     No   Sat  Dinner     2               17.00
69        15.01   2.09    Male    Yes   Sat  Dinner     2               17.10
190       15.69   1.50    Male    Yes   Sun  Dinner     2               17.19
193       15.48   2.02    Male    Yes  Thur   Lunch     2               17.50
14        14.83   3.02  Female     No   Sun  Dinner     2               17.85
123       15.95   2.00    Male     No  Thur   Lunch     2               17.95
138       16.00   2.00    Male    Yes  Thur   Lunch     2               18.00
0         16.99   1.01  Female     No   Sun  Dinner     2               18.00
22        15.77   2.23  Female     No   Sat  Dinner     2               18.00
9         14.78   3.23    Male     No   Sun  Dinner     2               18.01
84        15.98   2.03    Male     No  Thur   Lunch     2               18.01
32        15.06   3.00  Female     No   Sat  Dinner     2               18.06
162       16.21   2.00  Female     No   Sun  Dinner     3               18.21
40        16.04   2.24    Male     No   Sat  Dinner     3               18.28
36        16.31   2.00    Male     No   Sat  Dinner     3               18.31
109       14.31   4.00  Female    Yes   Sat  Dinner     2               18.31
101       15.38   3.00  Female    Yes   Fri  Dinner     2               18.38
159       16.49   2.00    Male     No   Sun  Dinner     4               18.49
234       15.53   3.00    Male    Yes   Sat  Dinner     2               18.53
231       15.69   3.00    Male    Yes   Sat  Dinner     3               18.69
144       16.43   2.30  Female     No  Thur   Lunch     2               18.73
225       16.27   2.50  Female    Yes   Fri   Lunch     2               18.77
203       16.40   2.50  Female    Yes  Thur   Lunch     2               18.90
66        16.45   2.47  Female     No   Sat  Dinner     2               18.92
171       15.81   3.16    Male    Yes   Sat  Dinner     2               18.97
223       15.98   3.00  Female     No   Fri   Lunch     3               18.98
242       17.82   1.75    Male     No   Sat  Dinner     2               19.57
205       16.47   3.23  Female    Yes  Thur   Lunch     3               19.70
176       17.89   2.00    Male    Yes   Sun  Dinner     2               19.89
41        17.46   2.54    Male     No   Sun  Dinner     2               20.00
152       17.26   2.74    Male     No   Sun  Dinner     3               20.00
17        16.29   3.71    Male     No   Sun  Dinner     3               20.00
37        16.93   3.07  Female     No   Sat  Dinner     3               20.00
146       18.64   1.36  Female     No  Thur   Lunch     3               20.00
79        17.29   2.71    Male     No  Thur   Lunch     2               20.00
81        16.66   3.40    Male     No  Thur   Lunch     2               20.06
71        17.07   3.00  Female     No   Sat  Dinner     3               20.07
25        17.81   2.34    Male     No   Sat  Dinner     4               20.15
64        17.59   2.64    Male     No   Sat  Dinner     3               20.23
18        16.97   3.50  Female     No   Sun  Dinner     3               20.47
164       17.51   3.00  Female    Yes   Sun  Dinner     2               20.51
130       19.08   1.50    Male     No  Thur   Lunch     2               20.58
194       16.58   4.00    Male    Yes  Thur   Lunch     2               20.58
93        16.32   4.30  Female    Yes   Fri  Dinner     2               20.62
115       17.31   3.50  Female     No   Sun  Dinner     2               20.81
174       16.82   4.00    Male    Yes   Sun  Dinner     2               20.82
31        18.35   2.50    Male     No   Sat  Dinner     4               20.85
140       17.47   3.50  Female     No  Thur   Lunch     2               20.97
38        18.69   2.31    Male     No   Sat  Dinner     3               21.00
76        17.92   3.08    Male    Yes   Sat  Dinner     2               21.00
49        18.04   3.00    Male     No   Sun  Dinner     2               21.04
34        17.78   3.27    Male     No   Sat  Dinner     2               21.05
45        18.29   3.00    Male     No   Sun  Dinner     2               21.29
13        18.43   3.00    Male     No   Sun  Dinner     4               21.43
134       18.26   3.25  Female     No  Thur   Lunch     2               21.51
188       18.15   3.50  Female    Yes   Sun  Dinner     3               21.65
154       19.77   2.00    Male     No   Sun  Dinner     4               21.77
243       18.78   3.00  Female     No  Thur  Dinner     2               21.78
108       18.24   3.76    Male     No   Sat  Dinner     2               22.00
20        17.92   4.08    Male     No   Sat  Dinner     2               22.00
63        18.29   3.76    Male    Yes   Sat  Dinner     4               22.05
68        20.23   2.01    Male     No   Sat  Dinner     2               22.24
87        18.28   4.00    Male     No  Thur   Lunch     2               22.28
80        19.44   3.00    Male    Yes  Thur   Lunch     2               22.44
29        19.65   3.00  Female     No   Sat  Dinner     2               22.65
200       18.71   4.00    Male    Yes  Thur   Lunch     3               22.71
55        19.49   3.51    Male     No   Sun  Dinner     2               23.00
166       20.76   2.24    Male     No   Sun  Dinner     2               23.00
24        19.82   3.18    Male     No   Sat  Dinner     2               23.00
21        20.29   2.75  Female     No   Sat  Dinner     2               23.04
131       20.27   2.83  Female     No  Thur   Lunch     2               23.10
33        20.69   2.45  Female     No   Sat  Dinner     4               23.14
65        20.08   3.15    Male     No   Sat  Dinner     3               23.23
227       20.45   3.00    Male     No   Sat  Dinner     4               23.45
60        20.29   3.21    Male    Yes   Sat  Dinner     2               23.50
191       19.81   4.19  Female    Yes  Thur   Lunch     2               24.00
19        20.65   3.35    Male     No   Sat  Dinner     3               24.00
98        21.01   3.00    Male    Yes   Fri  Dinner     2               24.01
89        21.16   3.00    Male     No  Thur   Lunch     2               24.16
186       20.90   3.50  Female    Yes   Sun  Dinner     3               24.40
2         21.01   3.50    Male     No   Sun  Dinner     3               24.51
204       20.53   4.00    Male    Yes  Thur   Lunch     4               24.53
106       20.49   4.06    Male    Yes   Sat  Dinner     2               24.55
241       22.67   2.00    Male    Yes   Sat  Dinner     2               24.67
229       22.12   2.88  Female    Yes   Sat  Dinner     2               25.00
104       20.92   4.08  Female     No   Sat  Dinner     2               25.00
160       21.50   3.50    Male     No   Sun  Dinner     4               25.00
129       22.82   2.18    Male     No  Thur   Lunch     3               25.00
15        21.58   3.92    Male     No   Sun  Dinner     2               25.50
185       20.69   5.00    Male     No   Sun  Dinner     5               25.69
78        22.76   3.00    Male     No  Thur   Lunch     2               25.76
103       22.42   3.48  Female    Yes   Sat  Dinner     2               25.90
91        22.49   3.50    Male     No   Fri  Dinner     2               25.99
94        22.75   3.25  Female     No   Fri  Dinner     2               26.00
28        21.70   4.30    Male     No   Sat  Dinner     2               26.00
230       24.01   2.00    Male    Yes   Sat  Dinner     4               26.01
208       24.27   2.03    Male    Yes   Sat  Dinner     2               26.30
113       23.95   2.55    Male     No   Sun  Dinner     2               26.50
153       24.55   2.00    Male     No   Sun  Dinner     4               26.55
3         23.68   3.31    Male     No   Sun  Dinner     2               26.99
119       24.08   2.92  Female     No  Thur   Lunch     4               27.00
189       23.10   4.00    Male    Yes   Sun  Dinner     3               27.10
46        22.23   5.00    Male     No   Sun  Dinner     2               27.23
35        24.06   3.60    Male     No   Sat  Dinner     3               27.66
57        26.41   1.50  Female     No   Sat  Dinner     2               27.91
165       24.52   3.48    Male     No   Sun  Dinner     3               28.00
4         24.59   3.61  Female     No   Sun  Dinner     4               28.20
157       25.00   3.75  Female     No   Sun  Dinner     4               28.75
181       23.33   5.65    Male    Yes   Sun  Dinner     2               28.98
240       27.18   2.00  Female    Yes   Sat  Dinner     2               29.18
107       25.21   4.29    Male    Yes   Sat  Dinner     2               29.50
183       23.17   6.50    Male    Yes   Sun  Dinner     4               29.67
114       25.71   4.00  Female     No   Sun  Dinner     3               29.71
54        25.56   4.34    Male     No   Sun  Dinner     4               29.90
5         25.29   4.71    Male     No   Sun  Dinner     4               30.00
7         26.88   3.12    Male     No   Sun  Dinner     4               30.00
72        26.86   3.14  Female    Yes   Sat  Dinner     2               30.00
206       26.59   3.41    Male    Yes   Sat  Dinner     3               30.00
73        25.28   5.00  Female    Yes   Sat  Dinner     2               30.28
88        24.71   5.85    Male     No  Thur   Lunch     2               30.56
48        28.55   2.05    Male     No   Sun  Dinner     3               30.60
192       28.44   2.56    Male    Yes  Thur   Lunch     2               31.00
211       25.89   5.16    Male    Yes   Sat  Dinner     4               31.05
216       28.15   3.00    Male    Yes   Sat  Dinner     5               31.15
77        27.20   4.00    Male     No  Thur   Lunch     4               31.20
96        27.28   4.00    Male    Yes   Fri  Dinner     2               31.28
90        28.97   3.00    Male    Yes   Fri  Dinner     2               31.97
143       27.05   5.00  Female     No  Thur   Lunch     6               32.05
210       30.06   2.00    Male    Yes   Sat  Dinner     3               32.06
187       30.46   2.00    Male    Yes   Sun  Dinner     5               32.46
219       30.14   3.09  Female    Yes   Sat  Dinner     4               33.23
237       32.83   1.17    Male    Yes   Sat  Dinner     2               34.00
125       29.80   4.20  Female     No  Thur   Lunch     6               34.00
214       28.17   6.50  Female    Yes   Sat  Dinner     3               34.67
239       29.03   5.92    Male     No   Sat  Dinner     3               34.95
155       29.85   5.14  Female     No   Sun  Dinner     5               34.99
116       29.93   5.07    Male     No   Sun  Dinner     4               35.00
173       31.85   3.18    Male    Yes   Sun  Dinner     2               35.03
44        30.40   5.60    Male     No   Sun  Dinner     4               36.00
175       32.90   3.11    Male    Yes   Sun  Dinner     2               36.01
167       31.71   4.50    Male     No   Sun  Dinner     4               36.21
39        31.27   5.00    Male     No   Sat  Dinner     3               36.27
83        32.68   5.00    Male    Yes  Thur   Lunch     2               37.68
179       34.63   3.55    Male    Yes   Sun  Dinner     2               38.18
180       34.65   3.68    Male    Yes   Sun  Dinner     4               38.33
47        32.40   6.00    Male     No   Sun  Dinner     4               38.40
85        34.83   5.17  Female     No  Thur   Lunch     4               40.00
52        34.81   5.20  Female     No   Sun  Dinner     4               40.01
11        35.26   5.00  Female     No   Sun  Dinner     4               40.26
238       35.83   4.67  Female     No   Sat  Dinner     3               40.50
141       34.30   6.70    Male     No  Thur   Lunch     6               41.00
56        38.01   3.00    Male    Yes   Sat  Dinner     4               41.01
207       38.73   3.00    Male    Yes   Sat  Dinner     4               41.73
112       38.07   4.00    Male     No   Sun  Dinner     3               42.07
184       40.55   3.00    Male    Yes   Sun  Dinner     2               43.55
95        40.17   4.73    Male    Yes   Fri  Dinner     4               44.90
142       41.19   5.00    Male     No  Thur   Lunch     5               46.19
102       44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
23        39.42   7.58    Male     No   Sat  Dinner     4               47.00
197       43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
182       45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
156       48.17   5.00    Male     No   Sun  Dinner     6               53.17
59        48.27   6.73    Male     No   Sat  Dinner     4               55.00
212       48.33   9.00    Male     No   Sat  Dinner     4               57.33
170       50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
    total_bill   tip     sex smoker  day    time  size  total_bill_tip_sum
0        16.99  1.01  Female     No  Sun  Dinner     2               18.00
1        10.34  1.66    Male     No  Sun  Dinner     3               12.00
2        21.01  3.50    Male     No  Sun  Dinner     3               24.51
3        23.68  3.31    Male     No  Sun  Dinner     2               26.99
4        24.59  3.61  Female     No  Sun  Dinner     4               28.20
5        25.29  4.71    Male     No  Sun  Dinner     4               30.00
6         8.77  2.00    Male     No  Sun  Dinner     2               10.77
7        26.88  3.12    Male     No  Sun  Dinner     4               30.00
8        15.04  1.96    Male     No  Sun  Dinner     2               17.00
9        14.78  3.23    Male     No  Sun  Dinner     2               18.01